body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: RobotoRegular;
    src: url("/static/land/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("/static/land/fonts/Roboto/Roboto-Black.ttf") format("ttf");
}

@font-face {
    font-family: RobotoSlabRegular;
    src: url("/static/land/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: RobotoSlabBold;
    src: url("/static/land/fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: RobotoSlabLight;
    src: url("/static/land/fonts/RobotoSlab/RobotoSlabLight.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("/static/land/fonts/Opensans/OpenSansRegular.ttf");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("/static/land/fonts/Opensans/OpenSansSemiBold.ttf");
}
@font-face {
    font-family: SegoeUISemiBold;
    src: url("/static/land/fonts/SegoeUI/SegoeUISemiBold.woff") format("woff");
url("/static/land/fonts/SegoeUI/SegoeUISemiBold.ttf") format("ttf");
}
.telega {
color: #FFE573;

}
body {
    font: 14px OpenSans, sans-serif;
    line-height: 19.6px;
    color: #404040;
}

.title {
    margin-bottom: 50px;
    font: 60px RobotoSlabLight, sans-serif;
    color: #336e7b;
}
.text-center {
    color:#1D5C63;
}
a {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #336e7b;
}

.btn {
    padding: 9px 17px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.btn--blue,
.btn--yellow {
    min-height: 44px;
    border: 3px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #006e7d;
    font: 14px OpenSansSemiBold, sans-serif;
    color: #ffffff;
    outline: none;
}

.btn--yellow {
    background: #ffe26d;
    color: #006e7d;
}

.btn--blue:hover,
.btn--blue:active {
    background: #005864 !important;
    color: #ffffff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus {
    background: #f7d963 !important;
    color: #006e7d;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
}

.btn--blue:focus {
    color: #ffffff;
    background-color: #006e7d;
}

.btn--white {
    border: 3px solid #336e7b;
    background-color: #fff;
    color: #336e7b;
    outline: none;
}

.btn--white:hover,
.btn--white:active {
    background-color: transparent;
    color: #FFE26D;
    opacity: 0.6;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
}

.btn--white:focus {
    background-color: #fff;
    color: #336e7b;
    outline: none;
}

.btn--transparent {
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.btn--transparent:hover,
.btn--transparent:active {
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
}

.btn--transparent:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.btn--play {
    width: 80%;
    max-width: 188px;
    margin: 70px auto;
    font-family: OpenSansSemiBold, sans-serif;
    outline: none;
}

.btn--play i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.mobile-btn {
    display: none;
}

.modal-body {
    padding: 30px 0;
}

.modal .video-content {
    margin-top: 0;
}

.modal button {
    width: auto;
}

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: OpenSansSemiBold, sans-serif;
}

.header .nav-tabs {
    display: inline-block;
    border: none;
}

.header .nav-tabs li a {
    padding: 13px 8px;
    margin-right: 0;
    border: none;
    border-radius: 0;
    font-size: 13px;
    color: #404040;
}

.header .nav-tabs li a:hover {
    color: #336e7b;
    background: transparent;
    transition: color 0.2s linear;
}

.header .nav-tabs li a:focus {
    color: #404040;
    background: none;
}

.header .nav-tabs li a:active {
    background: none;
    border: none;
    opacity: 0.5;
}

.header-btn {
    display: inline-block;
    padding-left: 0;
    text-align: right;
}
.header .btn.btn--yellow {
    margin-right: 8px;
}
.header-btn button.btn {
    width: 80%;
    max-width: 130px;
    outline: none;
}

.header-btn button.btn:active, .header-btn button.btn:focus {
    outline: none;
}

.header-btn button.btn.btn--blue {
    background: #336e7b;
}

.hero.section--padding {
    padding: 90px 0 50px;
    background: url("/static/land/images/bitmap.png") center center no-repeat,
    url("/static/land/images/lines.png") center 50px no-repeat;
    background-size: cover, auto;
    background-color: #336e7b;
}
.thesis.section--padding {
    padding:20px 0;
}
.lessons.section--padding,
.efirium.section--padding,
.how-work.section--padding,
.faq.section--padding,
.partnership.section--padding {
    padding: 70px 0 90px;
}
.team-block.section--padding {
    margin-top: 50px;
    padding-bottom: 110px;
}

.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 100;
    width: 100%;
    border: 1px solid #EEEEEE;
    background: #fff;
    transition: all 0.1s linear;
}

.hero {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: url("/static/land/images/bitmap.png") center center no-repeat,
    url("/static/land/images/lines.png") center 150% no-repeat;
    background-size: cover, 80%;
    background-color: #336e7b;
    color: #ffffff;
}
.hero-wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.hero-logo img {
    max-width: 181px;
    max-height: 181px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hero-title {
    margin-top: 30px;
    font: 90px/118px RobotoSlabBold, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero-description {
    margin-top: 20px;
    font: 18px/25px RobotoSlabRegular, sans-serif;
}
.hero a.btn:active, .hero a.btn:focus {
    color: #fff;
}

.hero-btn {
    width: 80%;
    max-width: 188px;
    margin: 70px auto;
    font-family: OpenSansSemiBold, sans-serif;
}

.hero-btn i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.hero .btn--mouse {
    position: relative;
    display: block;
    width: 21px;
    height: 29px;
    margin: 50px auto 20px;
    padding: 0;
    border: none;
    background: transparent url("/static/land/images/icons/mouse_3x.png") center no-repeat;
    background-size: contain;
}

.hero .btn--mouse:active::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top-left-radius: 40%;
}

.hero .btn--mouse:active {
    outline: none;
}

.hero .btn--mouse:hover {
    outline: none;
    -webkit-animation: mouse 0.9s ease infinite;
    animation: mouse 0.9s ease infinite;
}

@-webkit-keyframes mouse {
    0% {
        top: 0;
    }
    50% {
        top: 3px;
    }
    100% {
        top: -2px;
    }
}

@keyframes mouse {
    0% {
        top: 0;
    }
    50% {
        top: 3px;
    }
    100% {
        top: -2px;
    }
}

.thesis {
    padding: 20px 0;
    background: #f4f4f4;
}
.thesis-content {
    text-align: center;
}
.thesis-item {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin: 50px 0;
    padding: 0 25px;
    overflow: hidden;
}

.thesis-item__icon {
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    margin: 20px 15px 0 0;
}

.thesis-item__icon img {
    display: inline-block;
    width: 100%;
}

.thesis-item__text {
    display: inline-block;
    vertical-align: top;
    max-width: 75%;
}

.thesis-item__title {
    margin: 15px 0;
    font: 20px/26px RobotoSlabBold, sans-serif;
    text-align: left;
    color: #336e7b;
}

.thesis-item__description {
    text-align: justify;
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
}
.lessons-wrapper {
     max-width: 790px;
     margin: 0 auto;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
.lessons h2 {
    margin-bottom: 50px;
}
.lessons-logo {
    position: relative;
    z-index: 2;
    width: 150px;
    margin: 0 auto;
}
.lessons-logo img {
    width: 100%;

}
.lessons-logo span {
    position: absolute;
    display: block;
    width: 4px;
    background: #336e7b;
}
.lessons-logo span:first-of-type {
    bottom: -9px;
    left: 64px;
    height: 20px;
}
.lessons-logo span:nth-of-type(2) {
    bottom: -14px;
    left: 72px;
    height: 15px;
}

.lessons-logo span:last-of-type {
    bottom: -14px;
    left: 79.1px;
    height: 15px;
}
.lessons-content {
    position: relative;
    top: 0;
    z-index: 1;
    margin-top: 14px;
    border-top: 4px solid #336e7b;
    counter-reset: item -1;

}

.lessons-item {
    position: relative;
    min-height: 70px;
    padding: 7px 0;
    counter-increment: item;

}
.lessons-item:first-child {
    padding-top: 20px;
}
.lessons-item:nth-child(odd)::before {
    content: '';
    display: inline-block;
    float: left;
    width: 34px;
    height: 0.3em;
    margin-top: 25px;
    background: #336e7b;
    clear: both;

}
.lessons-item:first-child::before {
    content: '';
    display: inline-block;
    float: left;
    width: 34px;
    height: 0.3em;
    margin-top: 25px;
    clear: both;
}
.lessons-item:nth-child(odd)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -107px;
    left: 0;
    width: 0.3em;
    height: 143px;
    background: #336e7b;
}
.lessons-item:first-child::after {
    top: -3px;
    width: 0.3em;
    height: 50px;
}
.lessons-item:nth-child(even)::before {
    content: '';
    display: inline-block;
    float: right;
    width: 34px;
    height: 0.3em;
    margin-top: 25px;
    background: #336e7b;
    clear: both;
}
.lessons-item:nth-child(even)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -104px;
    right: 0;
    width: 0.3em;
    height: 138px;
    background: #336e7b;
}
.lessons-item:nth-child(2)::after {
    top: -85px;
}

.lessons-item button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 522px;
    padding: 0;
    background: none;
    border: transparent;
    font: 18px/19px SegoeUISemiBold, sans-serif;
    background: transparent;
    text-align: left;
    outline: none;
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    white-space:normal;
}
@-moz-document url-prefix() {
    .lessons-item button {
        overflow: hidden;
    }
}
.lessons-item button .front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 522px;
    height: 55px;
    border: 4px solid #336e7b;
    border-radius: 10px;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
}
.lessons-item button .front span {
    max-width: 85%;
}
.lessons-item button .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    max-width: 522px;
    padding: 20px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-box-shadow: 0 6px 18px 0 rgba(147, 147, 147, 0.5);
    box-shadow: 0 6px 18px 0 rgba(147, 147, 147, 0.5);
    background: #fff;
    border: 4px solid #336e7b;
    border-radius: 10px;
    line-height: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.lessons-item button.active .front,
.lessons-item button.active .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);

}
.lessons-item button.active {
    position: relative;
    z-index: 10;
}
@-moz-document url-prefix() {
    .lessons-item button.active {
        overflow: visible;
    }
}
.lessons-item button.active .front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.lessons-item button.active .back {
    opacity: 1;
    height: auto;
    min-height: 150px;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.lessons-item button .front::before {
    position: relative;
    content: "0" counter(item);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 53px;
    height: 49px;
    margin-right: 8px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #1d5c63;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

.lessons-item:nth-child(1n+11) button .front::before {
    content: counter(item);
}
.lessons-item:nth-child(even) button {
    float: right;
}
.lessons-item:nth-child(odd) button {
    float: left;
}
.lessons-item button .front::before {
    left: 0;
}
.lessons-item > button .front:hover {
    -webkit-box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
    background: #eee;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.partnership {
    text-align: center;
    background-color: #336e7b;
    color: #ffffff;
}

.partnership-title {
    margin-bottom: 80px;
    color: #ffffff;
}

.partner-advantages__item {
    min-height: 340px;
    margin: 20px 0;
}

.partner-advantages__item .icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 140px;
}

.partner-advantages img {
    display: inline-block;
    max-width: 120px;
    max-height: 80px;

}

.partner-advantages__item:nth-of-type(1) img,
.partner-advantages__item:nth-of-type(2) img {
    max-height: 90px;
}

.partner-title {
    margin-bottom: 15px;
    font: 20px/26px RobotoSlabBold, sans-serif;
}

.partner-advantages__item .description {
    max-width: 90%;
    margin: 0 auto;
    font: 14px/25px RobotoSlabRegular, sans-serif;
    text-align: justify;
}

.partner-text {
    text-align: left;
}

.partner-text p,
.partner-table__text p {
    margin: 20px 0;
    font: 16px/25px RobotoSlabRegular, sans-serif;
}

.partner-text p span,
.partner-table__text p span {
    font-family: RobotoSlabBold, sans-serif;
}

.partner-table__text p.special {
    padding: 15px;
    background: #ffe169;
    color: #336e7b;
}

.partner-tables {
    text-align: center;
    margin: 0 0 30px;
}

.partner-table {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 30px 0 0;
    border-radius: 13%;
    border: 15px solid #ffe169;
    text-align: center;
    overflow: hidden;
}

.partner-table:first-of-type {
    margin-right: -8px;
}

.partner-table:nth-of-type(2) {
    margin-left: -8px;
}

.partner-table__column {
    display: inline-block;
    vertical-align: top;
    width: calc(32% + 3px);
    height: 100%;
    padding-bottom: 15px;

}

.partner-table__column:first-child {
    border-right: 8px solid #ffe169;
    margin-right: -2px;
}

.partner-table__column:last-child {
    border-left: 8px solid #ffe169;
    margin-left: -2px;
}

.partner-table__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 66px;
    padding: 10px;
    margin-bottom: 15px;
    font: 16px/21px OpenSansSemiBold, sans-serif;
    background: #2b5d68;
}

.partner-table__key,
.partner-table__price {
    padding: 7px 0;
    font-size: 18px;
}
.partner-table__value {
    max-width: 790px;
    min-height: 60px;
    margin: -7px auto 10px;
    padding-top: 7px;
    border-radius: 23px;
    text-align: center;
    background: #ffe169;
    color: #336e7b;
    font: 33px RobotoSlabBold, sans-serif;
}

.partner-table__comment {
    margin-bottom: 50px;
}

.partner-table__text {
    text-align: left;
}

.modal-dialog.modal-partner {
    width: 80%;
    color: #ffffff;
}

.modal .close {
    opacity: 0.3;
    font-size: 30px;

}
.modal-partner .close {
    opacity: 0.8;
    color: #ffffff;

}

.modal-partner .modal-header,
.modal-partner .modal-body {
    background: #336e7b;
}
.modal-partner h2 {
    margin-left: 15px;
}
.modal-partner .modal-body {
    padding: 20px;
}


.efirium-title {
    font-size: 41px;
}

.efirium-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.efirium-text {
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.efirium-text p {
    margin-bottom: 20px;
}

.efirium ul {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0 20px 30px;
    list-style: disc;
    color: #336e7b;

}

.efirium ul li {
    width: 48%;
    margin-bottom: 5px;
}

.efirium ul li span {
    display: inline-block;
    vertical-align: middle;
    color: #404040;
    margin-left: 10px;
    font-size: 15px;
}

.efirium-btn {
    display: block;
    width: 90%;
    max-width: 155px;
    margin-top: 40px;
    height: 43px;
    line-height: 38px;
    border-radius: 5px;
    text-align: center;
}

.efirium-btn:hover {
    text-decoration: none;
}

.efirium-image .group-4 {
    display: inline-block;
    max-width: 100%;
    max-height: 470px;
    -o-object-fit: contain;
    object-fit: contain;
}

.video {
    padding: 50px 0 90px;
    background-color: #f4f4f4;
}

.video-title {
    padding-left: 15px;
}

.video-content {
    margin-top: 70px;
    overflow: hidden;
}

.video-clip {
    position: relative;
    width: 100%;
    min-height: 375px;
}

.video video {
    width: 100%;
    height: 375px;
}

.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #f9e174;
}

.video-btn .btn--play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 188px;
    height: 43px;
    border-radius: 5px;
    border: solid 3px #336e7b;
    color: #336e7b;
}

.video-btn.pause {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.video-btn.active span {
    display: none;
}

.video-item iframe {
    width: 100%;
    height: 379px;
}

.video-item__title {
    margin-top: 20px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.video-item__text {
    margin-top: 10px;
    font-size: 16px;
}

.how-work {
    position: relative;
}

/*.how-work::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: -80px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*width: 3px;*/
    /*height: 130px;*/
    /*border: solid 4px #006e7d;*/
    /*margin: auto;*/
    /*background: #006e7d;*/
/*}*/

.how-work__title {
    padding-left: 15px;
    text-align: center;
}

.how-work__content {
    margin-top: 70px;
    overflow: hidden;
}

.how-work__image img {
    display: inline-block;
    max-width: 398px;
    max-height: 399px;
    -o-object-fit: contain;
    object-fit: contain;
}

.how-work__text p {
    margin-bottom: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.how-work__btn {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 170px;
    height: 43px;
    border-radius: 5px;
}
.how-work .reg-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 170px;
    height: 43px;
    margin-left: 15px;
    border-radius: 5px;
}
.modal-dialog.modal--how {
    width: 80%;
}
.modal-dialog h4 {
    margin-left: 5px;
}
.modal--how .modal-body{
    padding: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.team-block {
    margin-top: 50px;
    padding-bottom: 110px;
}

.team-title {
    margin: 40px 0;
    text-align: center;
}

.team-content {

   display: flex;

    -webkit-box-direction: normal;

    -ms-flex-flow: row wrap;

    flex-flow: row wrap;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    -webkit-box-align: start;

    -ms-flex-align: start;

    align-items: flex-start;
}

.team-item {
    margin: 30px 0;
    text-align: center;
}

.team-item__icon {
    display: flex;

    flex-flow: row;

    justify-content: center;

    align-items: center;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f9e174;
    overflow: hidden;
    text-align: center;
}
.team-item__icon img {
    object-fit: contain;
    width: 100%;
}

.team-item__name {
    margin: 20px 0 10px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.team-item__description {
    font-size: 16px;
    line-height: 23px;
}



.faq {
    background: #006e7d;
}

.faq-title {
    padding-left: 15px;
    color: #ffffff;
}

.faq-wrapper {
    margin-top: 60px;
}

.faq-image {
    text-align: right;
}

.faq-image .layer {
    display: inline-block;
    max-width: 370px;
    max-height: 404px;
    -o-object-fit: contain;
    object-fit: contain;
}

.faq-item {
    margin-bottom: 40px;
    color: #ffffff;
}

.faq-item__question {
    margin-bottom: 15px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    cursor: pointer;
}

.faq-item__answer {
    margin-left: 20px;
    padding-left: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
    border-left: 3px solid #ffe26d;
}

.footer {
    padding: 50px 0;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #404040;
}

.footer-social a:hover {
    color: #3E00FF;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.scroll-btn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 60px;
}
.scroll-btn img {
    width: 100%;
}
.scroll-btn:hover{
    opacity: .7;
    transition: .2s;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .hero-title {
        font-size: 35px;
        line-height: normal;
    }
    .hero-description {
        font-size: 17px;
    }
    .thesis-item__title {
        text-align: center;
    }
    .thesis-item__icon {
        margin: 0 auto;
        min-height: 141px;
    }
    .thesis-item__text {
        max-width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .lessons,
    .partnership,
    .efirium,
    .video,
    .how-work ,
    .faq  {
        padding: 50px 0;
    }

    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        display: block !important;
        width: 40%;
        margin: 0 auto 30px;
        -o-object-fit: contain;
        object-fit: contain;
    }
    .lessons-content {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .lessons-content::before {
        left: 50.2%;
    }

    .lessons-item:nth-child(even)::before,
    .lessons-item:nth-child(odd)::before,
    .lessons-item:nth-child(even)::after,
    .lessons-item:nth-child(odd)::after {
        display: none;
    }
    .lessons-item button .front::before {
        position: relative;
        left: -1px;
        width: 30px;
        font-size: 18px;
    }
    .lessons-item button {
        font-size: 14px;
    }
    .lessons-item button .front {
        height: auto;
        min-height: 55px;
    }
    .lessons-item button .front span {
        max-width: 80%;
    }

    .partnership-title {
        padding: 0 10px;
        margin-bottom: 70px;
    }
    .thesis-item {
        width: 100%;
        margin: 40px 0;
    }

    .partner-advantages__item .icon {
        display: block;
        min-height: inherit;
    }

    .partnership img {
        width: 80%;
        margin: 0 auto 20px;
    }

    .partner-advantages__item {
        display: block;
        min-height: inherit;
        margin: 50px 0 80px;
    }
    .partner-advantages__item:last-of-type {
        margin: 50px 0 30px;
    }

    .partner-text {
        margin-top: -40px;
    }
    .partner-table {
        margin-top: 0;
    }
    .partner-table:first-of-type {
        margin-right: 0;
    }

    .partner-table:nth-of-type(2) {
        margin-left: 0;
    }

    .partner-table__column {
        width: 32.3%;
    }
    .partner-table__value {
        padding-top: 20px;
        font-size: 18px;
    }

    .partner-table__header {
        padding: 0;
        font-size: 12px;
        line-height: normal;
    }

    .partner-text p, .partner-table__text p {
        font-size: 15px;
    }

    .modal-dialog.modal-partner {
        width: 95%;
        color: #ffffff;
    }

    .modal-partner .modal-title {
        font-size: 25px;
        line-height: 30px;
    }

    .modal-partner .modal-body {
        padding: 15px 0;
    }

    .modal-partner .partner-text {
        margin-top: 0;
    }

    .how-work::after {
        bottom: -5.5%;
        height: 150px;
    }
    .reg-link {
        margin: 30px auto 0;
    }

    .partnership-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .partnership-text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .partnership button,
    .efirium button,
    .how-work button,
    .faq button {
        display: block;
        margin: 40px auto;
    }
    .partnership .hero-btn {
        margin: 20px auto;
    }
    .efirium ul li {
        width: 100%;
    }
    .efirium-btn {
        margin: 40px auto 0;
    }

    .mobile-btn {
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin: 7px 10px 0 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobile-btn span {
        display: block;
        height: 4px;
        margin-bottom: 4px;
        background-color: #333333;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .mobile-btn.active span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .mobile-btn.active span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #006e7d;
    }

    .mobile-btn.active span:nth-child(2) {
        display: none;
    }

    .mobile-btn.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #006e7d;
    }

    .nav.nav-tabs {
        display: none;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        padding: 20px 15px;
        background: #fff;
    }

    .nav.nav-tabs li {
        width: 100%;
        text-align: left;
    }

    .nav.nav-tabs li a {
        padding: 8px 0;
    }

    .header-btn {
        float: left;
        width: 70%;
        padding: 0 0 0 15px;
        text-align: left;
    }
    .header-btn .btn--yellow {
        display: inline-block;
        width: 50%;
        font-size: 12px;
        padding: 0;
        min-height: 41px;
        line-height: 41px;
        box-sizing: border-box;
        border: none;
    }

    .header-btn button.btn {
        display: inline-block;
        width: 40%;
        padding: 0;
        line-height: 15px;
        font-size: 12px;
        height: 41px;
    }

    .lessons-item button {
        text-align: left;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video iframe,
    .video video,
    .video-clip {
        height: auto;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .team-block {
        padding-bottom: 70px;
    }

    .footer-info {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-social {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        font-size: 35px;
        line-height: normal;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .partnership img {
        width: 80%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .faq img,
    .efirium img,
    .how-work img {
        width: 80%;
        display: block !important;
        margin: 0 auto 50px;
    }

    .partnership-content {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .how-work::after {
        bottom: -6%;
        left: 0;
        height: 130px;
    }
    .efirium-btn {
        margin: 40px auto 0;
    }

    .nav.nav-tabs {
        margin-top: 50px;
    }

    .mobile-btn {
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin: 7px 10px 0 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobile-btn span {
        display: block;
        height: 4px;
        margin-bottom: 4px;
        background-color: #333333;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .mobile-btn.active span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .mobile-btn.active span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #006e7d;
    }

    .mobile-btn.active span:nth-child(2) {
        display: none;
    }

    .mobile-btn.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #006e7d;
    }

    .nav.nav-tabs {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        padding: 20px 30px;
        background: #fff;
    }

    .nav.nav-tabs li {
        width: 100%;
        text-align: left;
    }

    .nav.nav-tabs li a {
        padding: 8px 0;
        font-size: 14px;
    }

    .header-btn {
        float: left;
        width: 70%;
        padding: 0 0 0 15px;
        text-align: left;
    }

    .advantages-item {
        margin-bottom: 50px;
    }

    .lessons-item a {
        font-size: 13px;
    }
    .thesis-item {
        display: inline-block;
        vertical-align: top;
        margin: 40px 0;
    }
    .thesis-item__icon {
        margin: 0 auto;
        min-height: 141px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .lessons-content::before {
        display: none;
    }
    .thesis-item__text {
        max-width: 100%;
    }
    .thesis-item__title {
        text-align: center;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video video,
    .video iframe,
    .video-clip {
        height: 360px;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-info {
        margin-bottom: 30px;
    }

    .footer-social {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        width: 80%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .how-work::after {
        bottom: -40px;
        height: 100px;
    }
}
