@font-face {
    font-family: RobotoLight;
    src: url("/src/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: SegoeUIRegular;
    src: url("/src/fonts/SegoeUI/SegoeUIRegular.woff") format('woff'),
         url("/src/fonts/SegoeUI/SegoeUIRegular.ttf") format('tryetype');
}
@font-face {
    font-family: SegoeUIBold;
    src: url("/src/fonts/SegoeUI/SegoeUIBold.woff") format('woff'),
         url("/src/fonts/SegoeUI/SegoeUIBold.ttf") format('tryetype');
}
body {
    margin: 0;
    padding: 0;
    font: 14px RobotoLight, sans-serif;
    color: #4d4d4d;
}

.wrapper {
    height: 100vh;
    padding: 40px 0 10vh;
    box-sizing: border-box;
    background: url("/static/land/images/reg-bg.svg") center no-repeat;
    background-size: 80%;
}
.wrapper-register {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    text-decoration: none;
}
.logo:hover,
.logo:active,
.logo:focus {
    text-decoration: none;
    color: #336e7b;
}
.logo {
    margin-bottom:50px;
}
.logo img {
    width: 75px;
    margin-bottom: 8px;
}
.logo span {
    display: block;
    font: 25px/32px SegoeUIBold, sans-serif;
    text-transform: uppercase;
    color: #336e7b;
}
.wrapper-register label {
    display: block!important;
    margin: 0 0 5px 15px;
    font-size: 24px;
    text-align: left;
    font-weight: inherit;
}
.wrapper-register input[type="text"],
.wrapper-register input[type="password"] {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: #40808d;
    color: rgba(255,255,255,0.9);
    font: 22px SegoeUIRegular, sans-serif;
    outline: none;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.8);
}

#parent-partner {
    pointer-events: none;
}

.wrapper-register input[type="text"]:focus,
.wrapper-register input[type="password"]:focus {
    box-shadow: 0 4px 12px 0 rgba(147, 147, 147, 0.9);
    transition: all 0.2s linear;
}
.wrapper-register input[type="text"]:-webkit-autofill,
.wrapper-register input[type="password"]:-webkit-autofill {
    background: #40808d;
}
.pass-error {
    display: none;
    margin: 0 0 5px 15px;
    color: red;
    font-size: 24px;
    text-align: left;
}
.wrapper-register input[type="checkbox"] {
    float: left;
    padding: 0;
    margin: 10px 0 0 3px;
}
.wrapper-register input[type="checkbox"] + p {
    float: left;
    max-width: 80%;
    margin: 6px 0 0 10px;
    font: 15px SegoeUIRegular, sans-serif;
    text-align: left;
}
.wrapper-register input[type="checkbox"] + p a {
    color: #4d4d4d;
    text-decoration: underline;
    outline: none;
}
.wrapper-register input[type="checkbox"] + p a:hover {
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s linear;
}
.wrapper-register input[type="submit"] {
    width: 280px;
    height: 55px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font: 24px/43px SegoeUIBold, sans-serif;
    color: #4d4d4d;
    background: #ffe26d;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.8);
}
.wrapper-register input[type="submit"]:hover {
    background: #f3d662;
    transition: all 0.2s linear;
}
.wrapper-register input[type="submit"]:active {
    transform: scale(0.98);
    transition: all 0.15s linear;
}
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal .close {
    margin-top: -13px;
    margin-right: -5px;
    opacity: 0.3;
    font-size: 30px;
    outline: none;

}
.modal-partner .close {
    opacity: 0.8;
    color: #ffffff;

}
.modal h3 {
    color: #000000;
}
@media (max-width: 1800px) {
    .wrapper {
        height: auto;
    }
}
@media (max-width: 1200px) {
    .wrapper {
        background-size: cover;
    }
}
@media (max-width: 400px) {
    .wrapper {
        height: auto;
        padding-bottom: 50px;
        background-size: cover;
    }
    .wrapper-register {
        margin: 0 15px 0;
    }
    .logo {
        margin-bottom: 40px;
    }
    .wrapper-register input[type="text"],
    .wrapper-register input[type="password"] {
        height: 50px;
    }
}

.accept_tos {
    font-size: 24px;
}




