body {
    color: #100b1b;
margin-top: -30px;
    background-color: #FFFFFF;
     }
.navbar-fixed-top {
 background-color: #2A2730;
    border: none;
    color: #f0ad4e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    color: #f0ad4e;
}
.navtext {
    color: #f0ad4e;
    font-size: 16px;
}
.navbar-text {
    color: #f0ad4e;
}
.header {
    background-image: url("https://pp.userapi.com/c639921/v639921980/38b98/T9vg8hM6Kps.jpg");
    height: 550px;
  width: auto;
       }
.img-responsive {
    margin-top: 31px;
    background-image: image();
   }
.img {
    background-image:url("https://pp.userapi.com/c639921/v639921980/38b98/T9vg8hM6Kps.jpg") ;
}

.main-container {
        color: #2b542c;

}


.lead {
    margin-top: 30px;
}
.exp {
    margin-left: auto;
    margin-right: auto;
}

.container {
    	padding: auto;
}

.hero-unit {
	margin-left: 10%;
}
.well-lg {
    color: #100b1b;
    background-color: #ffeff1;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.well{
    height: 350px;
}
.mission {
    background-color: #e3e3e9;
            color: #1a121b;
    font-size: 24px;
    font-style: normal;
    text-decoration-style: solid;
       }

.col-md-4 {

 }

.rightimg {
    padding-left: 100px;
}

.hero-unit {
   margin-top: auto;
    margin-bottom: auto;
}

.slogan {

}
.features {
border-top: 1px;
border-bottom: 1px;
border-color: #222222;
}

.mis {
    margin-top: 20px;
    border-bottom: 2px solid;
    border-color: #f19d1d;
}
.rightimg {
   }

.hero {
    color: #ffffff;
    text-align: center;
}

.btn-primary {
    background-color: #f19d1d;
    border-color: #f19d1d;
    }

.container-full-width {
    margin-top: 30px;
}

.faq {
margin-bottom: 50px;
}



#footer a {
  color:#efefef;
}

.h1 {
   color: #f19d1d;
}
.h2 {
   color: #f19d1d;
}
.h3 {
    color: #f19d1d;
}

.h4 {
  color: #f19d1d;
}

.circle {
    margin-top: 10px;
    width: 85px;
height: 85px;
border-radius: 50%;
margin: 0 auto;
background: radial-gradient(circle at 65% 15%, #674C8F, #100b1b);
}

.features {
    height: 750px;
    background-color: #f2f5f8;
   padding-top: 7%;
}

.center-block {
     display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    color: #f2f5f8;
    background-color: #2A2730;
}