{% extends 'index.html' %} {% load staticfiles %} {% block title %} {% endblock %}

<body>
    {% block navbar %}
    <div class="navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="navtext">
                        <div class="text-center">
                            <div class="nav navbar-nav">
                                <li class="active">
                                    <a href="http://127.0.0.1:8000/zs/#features">
                                        <solid>Преймущества</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/zs/#ether">
                                        <solid>Эфририум</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/zs/#party">
                                        <solid>Партнерская программа</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/zs/#howitworks">
                                        <solid>Как работает</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/zs/#video">
                                        <solid>Еще видео</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:8000/zs/#faq">
                                        <solid>Вопросы и ответы</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('signup') }}">
                                        <solid>Регистрация</solid>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('login') }}">
                                        <solid>Вход</solid>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
    </div>
    </nav>
    {% endblock %} {% block image %}
    <div id="header" class="container-full-width">
        <div class="header">
            <link href="{% static 'text.css' %}" rel="stylesheet">
            </head>
            <div class="container">
                <div class="row">
                    <h1 class="hero">EtherStart</h1>
                    <h2 class="hero">Включайтесь в интернет денег!</h2>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        /* Get iframe src attribute value i.e. YouTube video url
                        and store it in a variable */
                        var url = $("#cartoonVideo").attr('src');

                        /* Assign empty url value to the iframe src attribute when
                        modal hide, which stop the video playing */
                        $("#myModal3").on('hide.bs.modal', function() {
                            $("#cartoonVideo").attr('src', '');
                        });

                        /* Assign the initially stored url back to the iframe src
                        attribute when modal is displayed again */
                        $("#myModal3").on('show.bs.modal', function() {
                            $("#cartoonVideo").attr('src', url);
                        });
                    });
                </script>
                <div class="container">

                    <div class="bs-example">
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#myModal3" class="btn btn-lg btn-primary" data-toggle="modal">Смотреть видео</a>

                        <!-- Modal HTML -->
                        <div id="myModal3" class="modal fade">
                            <div class="hero">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">О проекте</h4>
                                        </div>
                                        <div class="modal-body">
                                            <iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4?autoplay=0&controls=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %} {% block video %} {% endblock %} {% block row %}
    <section id="features">
        <div class="features">
            <div class="row">
                <div class="container">
                    <div class="text-center" </div>
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Старт за 10 минут</h2>
                            <p>Проект EtherKey поможет вам стать участником криптовалютной экономики быстро, без рисков и с минимальными издержками.</p>

                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Станьте экспертом с нами</h2>
                            <p>За 14 шагов, вы получите 14 интерактивных видеоруководств и текстовых материалов, открывающих вам все возможности заработка на рынке криптовалют.</p>

                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Самый доступный</h2>
                            <p>Тогда, как обучение традиционным финансам стоит сотни и тысячи, участие в нашем проекте стоит всего 10 долларов.</p>

                        </div>
                        <!-- /.col-lg-3 -->
                    </div>
                    <!-- /.col-lg-3 -->
                </div>
                <!-- /.row -->
            </div>

            <div class="row">
                <div class="container">
                    <div class="text-center" </div>
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Партнерская программа </h2>
                            <p>По сути, наш проект это одна большая партнерская программа. 100% с приглашенного получаете вы, с каждого, на свой кошелек.</p>

                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Денежная магия</h2>
                            <p>Магия всегда основывалась на знаковых системах. В наши дни магией является математика. Наша математическая формула партнерской программы работает по вселенскому принципу спирали Фибоначчи, и всего с двух приглашенных приносит
                                $25тыс </p>
                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-md-4">
                            <div class="circle"></div>
                            <h2>Нам не нужно доверять</h2>
                            <p>Мы не храним ваши средства и не распределяем их. Все переводы происходят напрямую между участниками. Мы лишь предлагаем формулу успеха и программный код сайта, а сами являемся рядовыми участниками</p>
                        </div>
                        <!-- /.col-lg-3 -->
                    </div>
                    <!-- /.col-lg-3 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    {% endblock %} {% block benefits %} {% endblock %} {% block ethereum %}
    <section id="ether">
        <div class="container">
            <div class="row">
            </div>
            <div id="mis" class="container">
                <section id="ether" <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <h2>Почему Эфериум?</h2>
                        <p>Мы используем Эфериум в нашем проекте, так как эта валюта позволяет максимально сократить финансовые и временые издержки, а купить, продать и использовать её легче и выгоднее даже чем биткоин. Транзакции доходят до адресата в пределах
                            одной минуты, а комиссия за перевод составляет всего 8-10 центов. По мимом этого, вы всегда можете обменять свои "эфиры" на реальные деньги или любую другую криптовалюту на любой из многочисленных криптовалютных бирж.</p>
                        <p>Тот факт, что вы единственный обладаете адресом и приватным ключом от кошелька, а ваши средства хранятся в децентрализованной сети блокчейна эфериум делает вас полноправным хозяином ваших эфиров и никто не может у вас их изъять.
                            Более того, вы можете создавать бесконечное количество не требующих идентификации кошельков и принимать на них эфиры, таким образом злоумышленники никогда не узнают, сколько у вас денег.</p>
                        <p>Все вышеперечисленные факторы делают Эфериум самой лучшей валютой и благодаря факту её использования и сокращения издержек наш проект становится самым выгодным среди прочих проектов сетевого маркетинга.</p>

                    </div>
                    <div class="rightimg">
                        <div class="col-md-5 col-md-offset-0 col-xs-12 col-xs-offset-0">
                            <h3>Курс валюты</h3>
                            <img src={% static 'img/chart.jpg' %}>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        {% endblock %} {% block howitworks %}
        <section id="howitworks">
            <div class="container">
                <h1>Как всё работает?</h1>
                <p class="page-info">Создавая проект, мы стремились достичь максимального уровня автоматизации, чтобы упростить пользователю взаимодействие с ситемой и сократить любые риски связанные с человеческими ошибками. Участник соврешает простые действия - всю логику
                    работы обеспечивает программный код сайта. Нажав на кнопку "подробнее" вы можете узнать, как происходит происходит процесс участия в проекте и как всё устроенно изнутри.</p>
                <p>
                    <!-- Кнопка, вызывающее модальное окно -->
                    <div class="text-center">
                        <a href="#myModal2" class="btn btn-primary" data-toggle="modal">Узнать подробнее &rarr;</a>
                    </div>
                    <!-- HTML-код модального окна -->
                    <div id="myModal2" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Заголовок модального окна -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Как это работает?</h4>
                                </div>
                                <!-- Основное содержимое модального окна -->
                                <div class="modal-body">





                                    <p>Итак, вы регистрируетесь на сайте, подтверждаете e-mail (на случай, если забудете пароль) и попадаете в личный кабинет. Теперь у вас есть личный профайл в системе, который вы можете заполнить. Каждый пользователь наделяется
                                        уникальной реферльной ссылкой, которая ведет на посадочную страницу сайта. Скинув её, вы приглашаете других пользователей интернета подключится к системе. Если пользователь попал на страницу по вашей реферальной
                                        ссылке и зарегистрировался, он становится вашим рефералом.</p>

                                    <p>Чтобы начать обучаться и зарабатывать (вы ведь за этим здесь, верно?), вам нужно приобрести ключ первого уровня. Вы нажимаете на вкладку ключи и далее "купить ключ первого уровня". Система выведет вам адрес кошелька
                                        и количество эфиров(по текущему курсу на бирже)с учетом коммисии, которое вы должны отправить.</p>
                                    <p> Для этого вам нужно завести свой эфириум кошелек, купить и принять на него эфиры и отправить их на указанный кошелек, который, кстати, является кошельком пригласившего вас в систему. Если вы не знаете, как это сделать,
                                        обратитесь к пригласившему вас в систему, он даст вам необходимые консультации и скинет ссылки на видеоруководства. Он лично заинтересован вам помочь, ведь именно он получит вашу плату за ключ.</p>

                                    <p>Если по каким-то причинам вы не можете связаться с пригласившим, напишите в чат с участниками, вам обязательно помогут - ведь мир не без добрых людей=).</p>



                                    <p>В графе профайл обязательным полем для заполнения является поле Эфирный Кошелек. Именно на этот кошелек будут поступать платежи от приглашенных вами участников.</p>
                                    <p>Обратите внимание, что вы можете иметь сколько угодно кошельков и вводить в это поле каждый раз свой новый адрес. Это сделано, если вы, к примеру, не хотите хранить много эфиров на одном адресе. Так же важно понимать,
                                        что если вы отправляете эфиры участнику системы, вам необязательно делать это именно с указанного вами здесь адреса, он важен только для получения средств.</p>

                                    <p>Итак, теперь вы приобрели первый ключ и теперь можете продавать его бесконечно, любому количеству своих приглашенных.</p>
                                    <p> Более того, вы прошли первую ступень обучения в экономической системе криптовалют, вы завели кошелек, произвели операцию на бирже, научились отправлять и принимать эфиры, менять валюты на бирже. Поздравляем, Вы сделали
                                        первый шаг.</p>

                                    <p>Чтобы продавать второй ключ вашим приглашенным, вы должны его купить, чтобы продавать третий - то же самое, и так далее до 14ого уровня. Конечно, вы можете сделать это за счет прибыли, которое принесли вам ваши приглашенные,
                                        впрочем вы можете изначально инвестировать сумму на покупку сразу нескольких ключей.</p>
                                    <p> Более подробно об этом читайте в описание пратнерской программы, здесь же интересен следующий момент, освятив который мы приоткроем завесу, заглянув за которую вы поймете, логику работы нашей системы.</p>
                                    <p>Что, если вы хотите купить второй ключ, а ваш пригласивший его еще не приобрел? Тогда вы будете покупать его у пригласвишего вашего пригласившего и т д. То есть система будет смотреть на наличие ключей у ваших страших
                                        партнеров и выводить кошелек ближайшего по иерархии, у которого есть нужный вам ключ.</p>
                                    <p> При покупке, код сайта смотрит в блокчейн эфириум, произошла ли транзакция и верна ли сумма, и после верификации выводит вам ссылку, по которой вы получаете свой ключ.</p>

                                    <p>В придачу к каждому следующему ключу, вы будете получать новую главу нашей книги, которая призвана обучить вас множеству возможностей получения прибыли в современной криптовалютной экономике.</p>
                                    <p>Таким образом, вы будете на практике обучаться и зарабатывать в процессе обучения.</p>


                                </div>
                                <!-- Футер модального окна -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>


                                </div>
                            </div>
                        </div>
                    </div>

                    </a>
                </p>
        </section>
        </div>
        {% endblock %} {% block features%} {% endblock %} {% block testblock %} {% endblock %} {% block party %}
        <section id="party">
            <div class="well well-lg">
                <div class="container">
                    <h3 class="text-center">Партнерская программа</h3>
                    <p>Мы готовы математически доказать вам, что партнерская программа проекта EtherStart является самой выгодной из возможных! Все 100% привлеченных средств зарабатываете именно Вы, мнгновенно получая их напрямую на свой Ethereum кошелек.
                        Благодаря математической формуле, которая использует принцип ряда Фибоначи, именныуемый у нас Золотое Сечение, пригласив всего трех участников, вы получаете 25 тысяч долларов пассивного дохода. Не верите, что такое возможно?</p>
                    </hr>
        </section>
        {% endblock %} {% block chat %}
        <div class="container">
            <iframe src="https://www4.cbox.ws/box/?boxid=4311927&boxtag=ez5jLY" width="100%" height="450" allowtransparency="yes" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
        </div>
        {% endblock %} {% block morevideo %}
        <section id="video">
            <div class="well well-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Интервью с ведущим разработчиком</h2>
                            <p>В этом интервью ведущий разработчик рассказывает о целях проекта и процессе его разработки.</p>
                            <p class="text-center">
                                <a href="#myModal3" class="btn btn-lg btn-primary" data-toggle="modal">Смотреть видео</a>

                                <!-- Modal HTML -->
                                <div id="myModal3" class="modal fade">
                                    <div class="hero">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">О проекте</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4?autoplay=0&controls=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2> Видеообзор и процесс регистрации </h2>
                            <p>В этом видео вы можете своими глазами увидеть, как устроенно и выглядит всё изнутри.</p>
                            <p class="text-center">
                                <a href="#myModal3" class="btn btn-lg btn-primary" data-toggle="modal">Смотреть видео</a>

                                <!-- Modal HTML -->
                                <div id="myModal3" class="modal fade">
                                    <div class="hero">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">О проекте</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4?autoplay=0&controls=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %} {% block faq %}
        <section id="faq">
            <div class="container">
                <div class="faq">
                    <h2 class="text-center">F.A.Q.</h2>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Вопрос: Вы планируете перевод сайта на другие языки?
        </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Ответ: Да, в самое ближайшее время сайт будет доступен также на английском языке. Это расширит географию охвата проекта и можно будет находить партнеров в Америке, Европе, Индии и других странах. Так же, будут мы сейчас переводим все обучающие материалы,
                                что позволит приглашать иностранных участников даже без знания языка, просто кидая иководства на английском языке. Остальные языки будут добавлятся по необходимости.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Вопрос: Могу я принять участие в проекте не вкладывая средства?
        </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Ответ: В принципе, да. {{ user }} Вы можете сперва найти и подключить человека к проекту, истратив его взнос на покупку первого ключа. Так же, если у вас на компьютере установленна дискретная видеокарта не старше трех последних поколений, вы можете за
                                недельку-другую добыть необходимые эфиры с помощью майнинга.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %} {% block test %}
        <div class="bs-example">
            <!-- Button HTML (to Trigger Modal) -->
            <a href="#myModal3" class="btn btn-lg btn-primary" data-toggle="modal">Регистрация</a>

            <!-- Modal HTML -->
            <div id="myModal3" class="modal fade">
                <div class="hero">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">О проекте</h4>
                            </div>
                            <div class="modal-body">
                                <iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4?autoplay=0&controls=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</body>
{% endblock %} {% block footer %}
<div class="footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- // -->
    <div class="container">
        <h3 class="text-center">Мы в соцсетях</h3>
        <div class="text-center center-block">
            <br />
            <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <p class="text-center">©smart-people.org -2017- </p>
    </div>
    {% endblock %}
</div>