body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: RobotoRegular;
    src: url("/src/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("/src/fonts/Roboto/Roboto-Black.woff") format("woff"), url("/src/fonts/Roboto/Roboto-Black.ttf") format("ttf");
}

@font-face {
    font-family: RobotoSlabBold;
    src: url("/src/fonts/RobotoSlab/RobotoSlab-Bold.woff") format("woff"), url("/src/fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("ttf");
}

@font-face {
    font-family: RobotoSlabBold;
    src: url("/src/fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: RobotoSlabLight;
    src: url("/src/fonts/RobotoSlab/RobotoSlabLight.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("/src/fonts/Opensans/OpenSansRegular.ttf");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("/src/fonts/Opensans/OpenSansSemiBold.ttf");
}

body {
    font: 14px OpenSans, sans-serif;
    line-height: 19.6px;
    color: #404040;
}

.title {
    margin-bottom: 5vh;
    font: 60px RobotoSlabLight, sans-serif;
    color: #336e7b;
}

a {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #336e7b;
}

.btn {
    padding: 9px 17px;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn--blue {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #006e7d;
    font: 14px OpenSansSemiBold, sans-serif;
    color: #ffffff;
}

.btn--blue:hover {
    background: #005864 !important;
    color: #ffffff;
    transition: all 0.2s linear;
}

.btn--white {
    border: 3px solid #336e7b;
    background-color: #fff;
    color: #336e7b;
}

.btn--white:hover {
    background-color: transparent;
    color: #336e7b;
    opacity: 0.6;
    transition: all 0.2s linear;
}

.btn--transparent {
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.btn--transparent:hover {
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    transition: all 0.2s linear;
}

.btn--transparent:active, .btn--transparent:focus {
    color: #fff;
    opacity: 0.6;
}

.btn--play {
    width: 80%;
    max-width: 188px;
    margin: 7vh auto;
    font-family: OpenSansSemiBold, sans-serif;
}

.btn--play i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.mobile-btn {
    display: none;
}

.modal-body {
    padding: 30px 0;
}

.modal .video-content {
    margin-top: 0;
}

.modal button {
    width: auto;
}

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
    font-family: OpenSansSemiBold, sans-serif;
}

.header .nav-tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.header .nav-tabs li a {
    padding: 13px 5px;
    margin-right: 0;
    border: none;
    border-radius: 0;
    color: #404040;
}

.header .nav-tabs li a:hover, .header .nav-tabs li a:focus {
    color: #336e7b;
    background: transparent;
    transition: color 0.2s linear;
}

.header .nav-tabs li.active a {
    border: none;
    opacity: 0.5;
}

.header .nav-tabs li.active a:hover {
    border: none;
}

.header-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.header-btn button.btn {
    width: 80%;
    max-width: 130px;
    outline: none;
}

.header-btn button.btn:active, .header-btn button.btn:focus {
    outline: none;
}

.header-btn button.btn.btn--blue {
    background: #336e7b;
}

.hero {
    padding: 9vh 0 5vh;
    box-sizing: border-box;
    text-align: center;
    background: url("/src/images/bitmap.png") center center no-repeat, url("/src/images/lines.png") center 50px no-repeat;
    background-size: cover, auto;
    background-color: #336e7b;
    color: #ffffff;
}

.hero-wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.hero-logo img {
    max-width: 181px;
    max-height: 181px;
    user-select: none;
}

.hero-title {
    margin-top: 30px;
    font: 90px/118px RobotoSlabBold, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero a.btn:active, .hero a.btn:focus {
    color: #fff;
}

.hero-btn {
    width: 80%;
    max-width: 188px;
    margin: 7vh auto;
    font-family: OpenSansSemiBold, sans-serif;
}

.hero-btn i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.hero .btn--mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 29px;
    margin: 0 auto;
    padding: 0;
    border: none;
    background: transparent url("/src/images/icons/mouse_3x.png") center no-repeat;
    background-size: cover;
}

.hero .btn--mouse:active::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top-left-radius: 40%;
}

.hero .btn--mouse:active {
    outline: none;
}

.hero .btn--mouse:hover {
    outline: none;
    animation: mouse 0.9s ease infinite;
}

@keyframes mouse {
    0% {
        top: 0;
    }
    50% {
        top: 3px;
    }
    100% {
        top: -2px;
    }
}

.advantages {
    padding: 7vh 0 6vh;
    background: #f4f4f4;
}

.advantages-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.advantages-item {
    min-height: 320px;
    margin-bottom: 20px;
    text-align: center;
}

.advantages-item__icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 136px;
}

.advantages-item__icon img {
    max-height: 136px;
}

.advantages-item__title {
    margin: 15px 0;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.advantages-item__description {
    font-size: 16px;
    line-height: 23px;
}

.lessons {
    padding: 7vh 0 9vh;
}

.lessons-title {
    margin-bottom: 5vh;
}

.lessons-item {
    margin-bottom: 20px;
}

.lessons-item button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    min-height: 79px;
    padding: 10px 15px 10px 30px;
    border-radius: 5px;
    border: solid 3px #336e7b;
    box-sizing: border-box;
    font: 16px/22px OpenSans, sans-serif;
    text-decoration: none;
    background: #fff;
}

.lessons-item:first-child button {
    border: solid 3px #d3d3d3;
}

.lessons-item:hover > button {
    background: #336e7b;
    border: solid 3px #336e7b;
    color: #ffffff;
    transition: all 0.2s linear;
}

.partnership {
    padding: 7vh 0 9vh;
    background-color: #336e7b;
}

.partnership-title {
    padding-left: 15px;
    color: #ffffff;
}

.partnership-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.partnership-text {
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
}

.partnership-text p {
    margin-bottom: 20px;
}

.partnership-btn {
    width: 90%;
    max-width: 210px;
    height: 43px;
    margin-top: 40px;
    border-radius: 5px;
}

.partnership-image {
    text-align: right;
}

.partnership-image .team {
    display: inline-block;
    max-width: 446px;
    max-height: 446px;
    object-fit: contain;
}

.efirium {
    padding: 7vh 0 9vh;
}

.efirium-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.efirium-text {
    font-size: 16px;
    line-height: 23px;
}

.efirium-text p {
    margin-bottom: 20px;
}

.efirium-btn {
    width: 90%;
    max-width: 155px;
    margin-top: 40px;
    height: 43px;
    border-radius: 5px;
}

.efirium-image .group-4 {
    display: inline-block;
    max-width: 468px;
    max-height: 470px;
    object-fit: contain;
}

.video {
    padding: 7vh 0 9vh;
    background-color: #f4f4f4;
}

.video-title {
    padding-left: 15px;
}

.video-content {
    margin-top: 7vh;
    overflow: hidden;
}

.video-clip {
    position: relative;
    width: 100%;
    min-height: 375px;
}

.video video {
    width: 100%;
    height: 375px;
}

.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #f9e174;
}

.video-btn .btn--play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 188px;
    height: 43px;
    border-radius: 5px;
    border: solid 3px #336e7b;
    color: #336e7b;
}

.video-btn.pause {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.video-btn.active span {
    display: none;
}

.video-item__title {
    margin-top: 20px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.video-item__text {
    margin-top: 10px;
    font-size: 16px;
}

.how-work {
    position: relative;
    padding: 7vh 0 9vh;
}

.how-work::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 3px;
    height: 17vh;
    border: solid 4px #006e7d;
    margin: auto;
}

.how-work__title {
    padding-left: 15px;
    text-align: center;
}

.how-work__content {
    margin-top: 7vh;
    overflow: hidden;
}

.how-work__image img {
    display: inline-block;
    max-width: 398px;
    max-height: 399px;
    object-fit: contain;
}

.how-work__text p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
}

.how-work__btn {
    width: 100%;
    max-width: 170px;
    height: 43px;
    margin-top: 30px;
    border-radius: 5px;
}

.team-block {
    padding-bottom: 9vh;
}

.team-title {
    margin: 40px 0;
    text-align: center;
}

.team-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.team-item {
    margin: 30px 0;
    text-align: center;
}

.team-item__icon {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f9e174;
}

.team-item__name {
    margin: 20px 0 10px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.team-item__description {
    font-size: 16px;
    line-height: 23px;
}

.team-btn {
    display: block;
    width: 100%;
    height: 43px;
    max-width: 235px;
    margin: 30px auto 0;
}

.faq {
    padding: 7vh 0 9vh;
    background: #006e7d;
}

.faq-title {
    padding-left: 15px;
    color: #ffffff;
}

.faq-wrapper {
    margin-top: 6vh;
}

.faq-image {
    text-align: right;
}

.faq-image .layer {
    display: inline-block;
    max-width: 370px;
    max-height: 404px;
    object-fit: contain;
}

.faq-item {
    margin-bottom: 40px;
    color: #ffffff;
}

.faq-item__question {
    margin-bottom: 15px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    cursor: pointer;
}

.faq-item__answer {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid #ffe26d;
}

.footer {
    padding: 50px 0;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #404040;
}

.footer-social a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.2s linear;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .hero-title {
        font-size: 35px;
        line-height: normal;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        display: block !important;
        width: 40%;
        margin: 0 auto 30px;
        object-fit: contain;
    }

    .how-work::after {
        bottom: -35px;
    }

    .partnership-image {
        order: 1;
    }

    .partnership-text {
        order: 2;
    }

    .partnership button,
    .efirium button,
    .how-work button,
    .faq button {
        display: block;
        margin: 40px auto;
    }

    .mobile-btn {
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin: 8px 15px 0 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobile-btn span {
        display: block;
        height: 4px;
        margin-bottom: 4px;
        background-color: #333333;
        transition: all 0.2s linear;
    }

    .mobile-btn.active span:nth-child(1) {
        margin-top: 7px;
        transform: rotate(45deg);
        background-color: #006e7d;
    }

    .mobile-btn.active span:nth-child(2) {
        display: none;
    }

    .mobile-btn.active span:nth-child(3) {
        margin-top: -7px;
        transform: rotate(-45deg);
        background-color: #006e7d;
    }

    .nav.nav-tabs {
        display: none;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        padding: 20px 15px;
        background: #fff;
    }

    .nav.nav-tabs li {
        width: 100%;
        text-align: left;
    }

    .nav.nav-tabs li a {
        padding: 8px 0;
    }

    .header-btn {
        justify-content: flex-start;
    }

    .header-btn button.btn {
        width: 40%;
        padding: 10px 7px;
        line-height: 15px;
        font-size: 12px;
    }

    .header-btn button.btn:first-child {
        margin: 0 20px 0 15px;
    }

    .lessons-item button {
        text-align: left;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video video,
    .video-clip {
        height: auto;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        font-size: 35px;
        line-height: normal;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .partnership img {
        width: 80%;
        object-fit: contain;
    }

    .faq img,
    .efirium img,
    .how-work img {
        width: 80%;
        display: block !important;
        margin: 0 auto 50px;
    }

    .partnership-content {
        align-items: flex-start;
    }

    .how-work::after {
        bottom: -30px;
        height: 100px;
    }

    .partnership-title {
        text-align: left;
    }

    .nav.nav-tabs {
        margin-top: 50px;
    }

    .header .nav-tabs li a {
        padding: 13px 5px;
        font-size: 13px;
    }

    .header-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 50%;
        justify-content: flex-end;
    }

    .header-btn button.btn {
        width: 40%;
        padding: 10px 7px;
        line-height: 15px;
        font-size: 12px;
    }

    .header-btn button.btn:first-child {
        margin: 0 20px 0 15px;
    }

    .advantages-item {
        margin-bottom: 50px;
    }

    .lessons-item a {
        font-size: 13px;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video video,
    .video-clip {
        height: auto;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        margin-bottom: 30px;
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        width: 80%;
        object-fit: contain;
    }

    .how-work::after {
        bottom: -40px;
        height: 100px;
    }
}
