body {
    margin: 0;
    padding: 0;
    font: 14px OpenSans, sans-serif;
}

/* HEADER */

.header {
    padding: 30px 0;
    text-align: center;
}

.header-logo {
    display: inline-block;
    margin-bottom: 10px;
}
.header-logo svg {
    width: 75px;
    height: 75px;
}

.header-projectname {
    font: 24px/32px RobotoSlab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #336e7b;
}

/* HEADER end */

/* FORM GROUP */

.form-group {
    padding: 10px 0 20px;
}

.user-info__wrapper {
    max-width: 84px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}

.user-info__icon {
    width: 84px;
    height: 84px;
    margin-bottom: 5px;
    border-radius: 50%;
    line-height: 110px;
    font-size: 60px;
    text-align: center;
    color: #ecf0f1;
    background-color: #336e7b;
    overflow: hidden;
}
.user-info__icon svg {
    fill: #ecf0f1;
}

.form-group__column {
    margin-top: 10px;
}

.input-group {
    width: 100%;
}

.input-group label {
    margin-bottom: 10px;
    font: 18px/24px RobotoMedium, sans-serif;
    color: #336e7b;
    user-select: none;
}

.input-group input.form-control {
    width: calc(100% - 40px);
    height: 39px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    color: #404040;
    background-color: #ededed;
    border: none;
    box-shadow: none;
    outline: none;
}

.form-group__column:nth-child(2) input.form-control {
    width: 100%;
}

.input-group input::-webkit-input-placeholder {
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    color: #404040;
}

.input-group input::-moz-placeholder {
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    color: #404040;
}

.input-group .input-btn {
    position: relative;
    right: 2px;
    float: right;
    width: 40px;
    height: 39px;
    padding: 10px 10px 0 0;
    border: none;
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    color: #404040;
    background: #ededed;
    box-shadow: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.input-group .input-btn.show img {
    opacity: 0.5;
}

.input-group .input-btn .edit {
    display: inline-block;

}

/* FORM GROUP end */

/* TABS */

.content {
    min-height: 668px;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
}

.tabs {
    padding: 0;
}

.nav > li > a {
    position: relative;
    display: block;
    margin-top: -1px;
    padding: 16px 15px;
    font: 18px/24px RobotoMedium, sans-serif;
    background-color: #f8f8f8;
    color: #4a4a4a;
}

.nav > li:nth-child(n+5) > a {
    background-color: #ffffff;
    color: #9b9b9b;
    border-top: 1px solid rgba(147, 147, 147, 0.1);
    border-right: 1px solid rgba(147, 147, 147, 0.1);
    border-bottom: 1px solid rgba(147, 147, 147, 0.1);
}

.nav > li:nth-child(n+5) > a:hover {
    background-color: #eee;
}

.nav > li .tab-profile svg {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: -3px 0 0 5px;
    fill: #333;
}

.nav > li .tab-exit svg {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 20px;
    margin: -3px 0 0 5px;
    fill: #888;
}

.nav-pills > li.active {
    pointer-events: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #336e7b;
    transition: all 0.2s linear;
}

.nav-pills > li.active svg path {
    fill: #fff;
}

/* TABS end */

/* TABS CONTENT */

.tab-content {
    padding: 60px 30px;
    overflow: hidden;
}

.title {
    margin: 0 0 30px;
    font: 24px/32px RobotoBold;
    text-align: center;
    color: #336e7b;
}

/* video */

#video .title {
    text-align: left;
}

.video-block {
    position: relative;
    max-width: 770px;
    min-height: 363px;
    margin: 0 auto;
}

.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.7);
}

.video-btn.pause {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.video-btn span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 88px;
    height: 88px;
    padding-left: 8px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 88px;
    background-color: #fff;
    color: #d8d8d8;
    text-align: center;
    cursor: pointer;
}

.video-btn.active span {
    display: none;
}

.video-btn:hover span {
    color: #9b9b9b;
    transition: all 0.2s linear;
}

.btn--default {
    display: block;
    width: 230px;
    height: 43px;
    margin: 25px auto 0;
    border: none;
    border-radius: 5px;
    background-color: #336e7b;
    color: #ffffff;
    outline: none;
}

.btn--default:hover {
    background-color: #295f6b;
    transition: all 0.2s linear;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-default .panel-heading {
    padding: 0;
    border-radius: 0;
    background: #ffffff;
}

.panel-default .panel-heading.heading--main {
    border-top: 2px solid #336e7b;
    border-right: 2px solid #336e7b;
    border-left: 2px solid #336e7b;
}

.panel-default .panel-heading.heading--main.active {
    border-bottom: 2px solid #336e7b;
}

.panel-default .panel-heading.heading--main.active .panel-title a {
    color: #709aa3;
}

.panel--last .panel-heading.heading--main {
    border-bottom: 2px solid #336e7b;
}

.panel-default > .panel-heading.sub {
    border-bottom: 2px solid #d8d8d8;
    border-left: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8;
}

.panel-default > .panel-heading.sub:hover {
    background-color: #336e7b;
    transition: all 0.2s linear;
}

.panel-default > .panel-heading.sub:hover a {
    color: #ffffff;
}

.panel-group {
    margin-bottom: 0;
}

.panel-title > a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #898989;
    cursor: pointer;
    text-decoration: none;
}

.panel-title > a:hover,
.panel-title > a:active {
    text-decoration: none;
}

.panel-body {
    padding: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none !important;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

/* video end */

/* marketing */

.marketing-title {
    text-align: left;
}

.marketing-text p {
    font-size: 16px;
    line-height: 25px;
    color: #404040;
}

/* marketing end */

/* partners */

.user-info__lavel {
    font: 13px/18px OpenSans, sans-serif;
    color: #858585;
}

#partners .user-info {
    margin-bottom: 30px;
}

#partners .user-info__icon {
    background-color: #ecf0f1;
}
#partners .user-info__icon svg {
    fill: #336e7b;
}

/* partners end */

/* profile */

.profile-title {
    margin-bottom: 13px;
    font: 18px/24px OpenSans, sans-serif;
    color: #336e7b;
}

.profile-row {
    margin-bottom: 10px;
}

.profile-row.profile--add {
    opacity: 0.3;
    cursor: pointer;
}

.profile-row div {
    display: inline-block;
    vertical-align: middle;
}

.profile-icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    line-height: 29px;
    color: #ffffff;
}

.profile-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    fill: #ffffff;
}

.profile-icon.icon--wts {
    background-color: #1bd741;
}

.profile-icon.icon--tlg {
    background-color: #61a8de;
}

.profile-icon.icon--skp {
    background-color: #14ace5;
}

.profile-icon.icon--vbr {
    background-color: #8f5db7;
}

.profile-icon.icon--fb {
    font-size: 20px;
    background-color: #3a559f;
}

.profile-icon.icon--lnk {
    font-size: 20px;
    background-color: #0077b5;
}

.profile-icon.icon--inst {
    font-size: 20px;
    background-color: #8d5765;
}

.profile-icon.icon--vk {
    font-size: 20px;
    background-color: #44678d;
}

.profile-text {
    font: 14px/30px OpenSans, sans-serif;
    font-weight: bold;
    color: #404040;
}

.profile-btn.btn--default {
    float: right;
    width: 270px;
    margin: 0 -45px 0 0;
    border-radius: 0;
}

/* profile end */

/* keys */

#keys {
    counter-reset: item;
}
.keys-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.keys-item--wrapper {
    margin-bottom: 30px;
    text-align: center;
}

.keys-item {
    position: relative;
    max-width: 130px;
    min-height: 130px;
    margin: 0 auto;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.keys-item::after {
    counter-increment: item;
    content: counter(item);
    font: 48px/63px RobotoBlack, sans-serif;
    font-weight: 900;
    letter-spacing: -5.7px;
    text-align: center;
    color: #bdbdbd;
}

.keys-item .keys-item__icon {
    width: 82px;
    height: 34px;
    margin: 10px auto 12px;
}

.keys-item.keys--blue .keys-item__icon {
    background: url("/images/icons/key-blue.png") center no-repeat;
}

.keys-item.keys--blue::after {
    color: #268bc2;
}

.keys-item.keys--blue.active {
    background-image: linear-gradient(226deg, #2e3695, #1cf5fa);
    box-shadow: 0 0 16px 5px rgba(56, 152, 125, 0.24);
    transition: all 0.2s linear;
}

.keys-item.keys--purple .keys-item__icon {
    background: url("/images/icons/key-purple.png") center no-repeat;
}

.keys-item.keys--purple::after {
    color: #bc7bc9;
}

.keys-item.keys--purple.active {
    background-image: linear-gradient(226deg, #fa7d7e, #9078fd);
    box-shadow: 0 0 16px 5px rgba(248, 125, 128, 0.24);
    transition: all 0.2s linear;
}

.keys-item.keys--yellow .keys-item__icon {
    background: url("/images/icons/key-yellow.png") center no-repeat;
}

.keys-item.keys--yellow::after {
    color: #fcd480;
}

.keys-item.keys--yellow.active {
    background-image: linear-gradient(226deg, #fbc363, #fff4b4);
    box-shadow: 0 0 16px 5px rgba(255, 144, 180, 0.24);
    transition: all 0.2s linear;
}

.keys-item:active .keys-item__icon,
.keys-item.active .keys-item__icon {
    background: url("/images/icons/key-white.png") center no-repeat;
}

.keys-item:active::after,
.keys-item.active::after {
    color: #fff;
}

.keys-item:hover {
    transition: box-shadow 0.15s linear;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.07);
}

.keys-item__number {
    font: 48px/63px RobotoBlack, sans-serif;
    font-weight: 900;
    letter-spacing: -5.7px;
    text-align: center;
    color: #bdbdbd;
}

.keys-price {
    max-width: 130px;
    margin: 10px auto 0;
    color: #404040;
}

/* keys end */

/* TABS CONTENT end */

/* FOOTER */

.footer {
    padding: 50px 0;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
}

.footer-info,
.footer-social {
    padding: 0;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #404040;
}

/* FOOTER end */