@font-face {
    font-family: OpenSans;
    src: url('/static/land/fonts/Opensans/OpenSansSemiBold.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url("/static/land/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: SegoeUIRegular;
    src: url("/static/land/fonts/SegoeUI/SegoeUIRegular.woff") format('woff'),
         url("/static/land/fonts/SegoeUI/SegoeUIRegular.ttf") format('tryetype');
}
@font-face {
    font-family: SegoeUIBold;
    src: url("/static/land/fonts/SegoeUI/SegoeUIBold.woff") format('woff'),
         url("/static/land/fonts/SegoeUI/SegoeUIBold.ttf") format('tryetype');
}
@font-face {
    font-family: RobotoSlab;
    src: url('/static/boffice/fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
    url('/static/boffice/fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font: 14px RobotoLight, sans-serif;
    background: url("/static/land/images/reg-bg.svg") center 50% no-repeat;
    background-size: 100%;
    color: #4d4d4d;
}

.error-auth,
.help-block {
    padding: 10px 10px 10px 17px;
    font-weight: 700;
    color: #ff5a4c;
    background: rgba(255,0,0,.2);
    text-align: left;
}
.error-auth-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background: #fba19d;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0 10vh;
    box-sizing: border-box;
}
.wrapper-register {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    text-decoration: none;
}
.logo:hover,
.logo:active,
.logo:focus {
    text-decoration: none;
    color: #336e7b;
}
.logo {
    margin-bottom:50px;
}
.logo img {
    width: 75px;
    margin-bottom: 8px;
}
.logo span {
    display: block;
    font: 24px/32px RobotoSlab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #336e7b;
}
.wrapper-register label {
    display: block!important;
    margin: 0 0 5px 15px;
    font-size: 24px;
    text-align: left;
    font-weight: inherit;
}

.form-signin {
    font-family: OpenSans, sans-serif;
}

.form-signin-row {
    margin-bottom: 10px;
    overflow: hidden;
}

.wrapper-register .checkbox {
    float: left;
}
.wrapper-register .checkbox label {
    font-size: 14px;
}

.wrapper-register--signup .checkbox label {
    margin: 0;
    padding: 0;
}

#accept_tos {
    display: none;
}
#accept_tos + a {
    display: block;
    text-align: center;
}

.form-signin-row a {
    float: right;
    margin: 10px 0;
}

.reg-link {
    display: block;
    margin-top: 20px;
}

.wrapper-register input[type="text"],
.wrapper-register input[type="password"] {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: #40808d;
    color: rgba(255,255,255,0.9);
    font: 22px SegoeUIRegular, sans-serif;
    outline: none;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.8);
}

#parent-partner {
    pointer-events: none;
}

.wrapper-register input[type="text"]:focus,
.wrapper-register input[type="password"]:focus {
    box-shadow: 0 4px 12px 0 rgba(147, 147, 147, 0.9);
    transition: all 0.2s linear;
}
.wrapper-register input[type="text"]:-webkit-autofill,
.wrapper-register input[type="password"]:-webkit-autofill {
    background: #40808d;
}
.pass-error {
    display: none;
    margin: 0 0 5px 15px;
    color: red;
    font-size: 24px;
    text-align: left;
}
.wrapper-register input[type="checkbox"] {
    float: left;
    padding: 0;
    margin: 4px 0 0 3px;
}
.wrapper-register input[type="checkbox"] + p {
    float: left;
    max-width: 80%;
    margin: 6px 0 0 10px;
    font: 15px SegoeUIRegular, sans-serif;
    text-align: left;
}
.wrapper-register input[type="checkbox"] + p a {
    color: #4d4d4d;
    text-decoration: underline;
    outline: none;
}
.wrapper-register input[type="checkbox"] + p a:hover {
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s linear;
}
.wrapper-register input[type="submit"] {
    width: 280px;
    height: 55px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font: 24px/43px SegoeUIBold, sans-serif;
    color: #4d4d4d;
    background: #ffe26d;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.8);
}
.wrapper-register input[type="submit"]:hover {
    background: #f3d662;
    transition: all 0.2s linear;
}
.wrapper-register input[type="submit"]:active {
    transform: scale(0.98);
    transition: all 0.15s linear;
}
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal .close {
    margin-top: -13px;
    margin-right: -5px;
    opacity: 0.3;
    font-size: 30px;
    outline: none;

}
.modal-partner .close {
    opacity: 0.8;
    color: #ffffff;

}
.modal h3 {
    color: #000000;
}

button.btn-lg {
    min-height: 55px;
    font: 20px OpenSans, sans-serif;
    border: 1px solid #ffe26d;
    background: #ffe26d;
    color: #006e7d;
    outline: none;
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.8);
}
button.btn-lg:hover,
button.btn-lg:focus,
button.btn-lg:active {
    transition: .2s;
    border: 1px solid #f7d963;
    background: #f7d963 !important;
    color: #006e7d;
}

@media (max-width: 1800px) {

}
@media (max-width: 1200px) {
    .wrapper {
        background-size: cover;
    }
}
@media (max-width: 400px) {
    .wrapper {
        height: auto;
        padding-bottom: 50px;
        background-size: cover;
    }
    .wrapper-register {
        margin: 0 15px 0;
    }
    .logo {
        margin-bottom: 40px;
    }
    .wrapper-register input[type="text"],
    .wrapper-register input[type="password"] {
        height: 50px;
    }
}

.registr {
    padding-top: 15px;
    color: #337ab7;
}
.registr button {
    margin-bottom: 20px;
}



