<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <title>Личный кабинет</title>
    <meta name="title" content="Проект древо: личный кабинет"/>
    <meta name="description" content="Проект древо: личный кабинет"/>
    <meta name="keywords" content="проект древо, личный кабинет"/>

    <link rel="apple-touch-icon" sizes="32x32" href="/static/boffice/images/icons/favicon32.ico">
    <link rel="shortcut icon" sizes="16x16" href="/static/boffice/favicon.ico">

    <link rel="stylesheet" href="/static/boffice/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/boffice/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/boffice/styles/typography.css">
    <link rel="stylesheet" href="/static/boffice/styles/main.css">
    <link rel="stylesheet" href="/static/boffice/styles/media.css">

</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <a href="/" class="header-logo">
                <img src="/static/boffice/images/icons/logo.svg" width="75" alt="Проект Древо">
            </a>
            <div class="header-projectname">
                Проект древо
            </div>
        </div>
    </div>
</header>

<section class="form-group">
    <div class="container">
        <div class="row">
            <div class="user-info col-lg-2 col-sm-3">
                <div class="user-info__wrapper">
                    <div class="user-info__icon">
                        <img src="/static/boffice/images/icons/user@3x.png" alt="">
                    </div>
                    <div class="user-info__name">{{ current_user.username }}</div>
                </div>
            </div>
             <div class="form-group__column col-lg-6 col-sm-9">
                <div class="input-group">
                    <label for="ref">Реферальная ссылка</label>
                    <input type="text" name="ref" id="ref"
                           value="www.drevoproject.com/?ref={{ current_user.ref }}" class="form-control" readonly>
                    <button id="copy-button" title="Копировать в буфер" data-clipboard-target="#ref"></button>
                </div>
            </div>
            <div class="form-group__column col-lg-offset-1 col-lg-3 col-md-4 col-sm-5">
                <div class="input-group">
                    <a href="/parent" class="btn-old_partner"><span>Старший партнер</span></a>
                </div>
            </div>
        </div>
    </div>
</section>          
{% block content %}

{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-info col-lg-8 col-xs-12 col-sm-6">
                2017 | Проект ДРЕВО
            </div>
            <div class="footer-social col-lg-4 col-xs-12 col-sm-6">
                <b><a href="https://vk.com/drevo_project" target="https://vk.com/drevo_project">VKontakte</a>
                <a href="https://facebook.com/drevoproject" target="https://www.facebook.com/drevoproject">Facebook</a>
                <a href="https://t.me/drevo_project" target="https://t.me/drevo_project">Telegram</a></b>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="modal-not_confirm" tabindex="1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-not_confirm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ваш е-мейл не подтвержден!</h4>
            </div>
            <div class="modal-body">
                Ваш е-мейл не подтвержден, чтобы подтвердить зайдите в почтовый ящик, на который зарегистрирован аккаунт
                и перейдите по ссылке в письме от "Проект Древо". Внимание: при необнаружении письма, проверьте папку
                спам!
            </div>
        </div>
    </div>
</div>

<script src="/static/boffice/libs/jquery.min.js"></script>
<script src="/static/boffice/libs/bootstrap.min.js"></script>
<script src="/static/boffice/libs/jquery.slimscroll.min.js"></script>
<script src="/static/boffice/libs/clipboard.min.js"></script>
<script src="/static/boffice/scripts/scripts.js"></script>


</body>
</html>