{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li class="active"><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>

                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="video">
                    <div class="video-content">
                        <a href="{{ url_for('demoless') }}" class="video-item">
                            <span class="video-item__preview"></span>
                            <span class="video-item__name">Раздел №0</span>
                        </a>
                        {% for record in content %}
                        <a href="{{ url_for('show_content', pk=record.id) }}" class="video-item">
                            <span class="video-item__preview"></span>
                            <span class="video-item__name">{{ record.content['title'] }}</span>
                        </a>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}