{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    
                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
 
 <div class ='videoframe'>               
{{ content.content['title'] }}
{{ content.content['html'] }}
</div>
</div>
</div>
</div>               
        <div>  

{% endblock %}