{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="/profile">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                                       
                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>

<div class="container">

    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Contacts</h2>
        {{ form.hidden_tag() }}
        {{ form.contacts(style='') }}
        {{ form.submit() }}
    </form>

</div>
{% endblock %}