{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/payment">Покупка ключа</a></li>
                    <li class="active"><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>

                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <iframe src="https://player.vimeo.com/video/246538064" width="640" height="360" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <a href="https://cloud.mail.ru/public/L3kD/hBDNKxknu">Текстовая версия</a>

                {% for record in content %}
                   <h1>{{ record.content['title'] }}</h1>
                   <a href="{{ url_for('show_content', pk=record.id) }}">Смотреть</a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}