{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    
                     <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
</div>
<div class = 'videoframe'>
<iframe src="https://player.vimeo.com/video/246538064" width="640" height="360" frameborder="1s" webkitallowfullscreen m ozallowfullscreen allowfullscreen></iframe>
<br>
<br>
<hr>

       <h1> <a href="https://cloud.mail.ru/public/L3kD/hBDNKxknu">Текстовая версия</a></h1>
</div>
</div>
</div>
</div>               
        <div>  
{% endblock %}       