<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Проект Древо</title>
    <meta name="title" content="Проект древо"/>
    <meta name="description" content="Проект древо"/>
    <meta name="keywords" content="проект древо"/>

    <link rel="apple-touch-icon" sizes="32x32" href="/src/images/icons/favicon32.ico">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">

    <link rel="stylesheet" href="/static/land/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/land/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/land/libs/jquery.fullpage.min.css">
    <link rel="stylesheet" href="/static/land/styles/main.css">
</head>
<body>

<div id="fullpage">
    <header class="header section fp-auto-height">
        <div class="container">
            <div class="row">
                <button class="mobile-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul id="nav" class="nav nav-tabs col-lg-9">
                    <li><a href="#section2">Преимущества</a></li>
                    <li><a href="#section3">Образовательный курс</a></li>
                    <li><a href="#section4">Партнерская программа</a></li>
                    <li><a href="#section5">Ethereum</a></li>
                    <li><a href="#section10">Видео</a></li>
                    <li><a href="#section6">Как это работает</a></li>
                    <li><a href="#section7">Команда</a></li>
                    <li><a href="#section8">F.A.Q.</a></li>
                </ul>
                <div class="header-btn col-lg-3">
                       <button class="btn btn--yellow" onclick="window.location ='{{ url_for('signup') }}';">
                                               <b>Регистрация</b>
                       </button>
                       <button class="btn btn--white" onclick="window.location = '{{ url_for('login') }}';">
                          <b> Войти</b>
                       </button>
                </div>
            </div>
        </div>
    </header>
    <section id="section1" class="hero fp-auto-height">
        <div class="container">
            <div class="row">
                <div class="hero-wrapper">
                    <div class="hero-logo">
                        <img src="/static/land/images/logo@3x.png" class="Logo">
                    </div>
                    <h1 class="hero-title">
                        Проект древо
                    </h1>
                    <h2>
                    <div class="hero-description">
                        Обучение заработку криптовалют
                    </h2>    
                    </div>
                    <!--<button class="btn hero-btn btn&#45;&#45;transparent" data-toggle="modal" data-target="#myModal">-->
                    <!--<span>Смотреть видео</span>-->
                    <!--<i class="fa fa-caret-right" aria-hidden="true"></i>-->
                    <!--</button>-->
                     <a href="#section2" class="btn--mouse"></a>
                </div>
            </div>
        </div>
    </section>
    <section id="section2" class="thesis">
        <div class="container">
                    <div class="row">
                        <div class="thesis-content">
                            <div class="thesis-item">
                                <div class="thesis-item__icon">
                                    <img src="/static/land/images/thesis/icon7.png" alt="">
                                </div>
                                <div class="thesis-item__text">
                                    <div class="thesis-item__title">
                                        Обучайтесь
                                    </div>
                                    <div class="thesis-item__description">
                                    Образовательный курс "Практические аспекты использования криптовалют" предназначен для всех пользователей интернета, вне зависимости от уровня знаний. Информация об электронной экономике тщательно структурирована и подана пошагово. Научитесь эффективно и безопасно пользоваться электронными деньгами, инвестировать, торговать на бирже, привлекать средства на проекты и разрабатывать приложения.
                                    </div>
                                </div>
                            </div>
                            <div class="thesis-item">
                                <div class="thesis-item__icon">
                                    <img src="/static/land/images/thesis/icon8.png" alt="">
                                </div>
                                <div class="thesis-item__text">
                                    <div class="thesis-item__title">
                                        Зарабатывайте
                                    </div>
                                    <div class="thesis-item__description">
                                   Используя оригинальную концепцию, каждый может начать зарабатывать криптовалюту прямо со старта! Делитесь нашей обучающей программой с другими и получайте 100% прибыли с каждого человека, купившего курс. Деньги будут приходить напрямую на Ваш электронный кошелек, после чего можно распоряжаться ими, как хотите.
                                    </div>
                                </div>
                            </div>
                            <div class="thesis-item">
                                <div class="thesis-item__icon">
                                    <img src="/static/land/images/thesis/icon9.png" alt="">
                                </div>
                                <div class="thesis-item__text">
                                    <div class="thesis-item__title">
                                        Участвуйте
                                    </div>
                                    <div class="thesis-item__description">
                                        Станьте участником сети активных инетрнет предпринимателей и получайте за это щедрое вознаграждение. Наша партнерская программа использует уникальную математическую формулу геометрической прогрессии - всего за двух приглашенных в сеть вы можете получить 31 900 долларов чистого дохода!

                                    </div>
                                </div>
                            </div>
                            <div class="thesis-item">
                                <div class="thesis-item__icon">
                                    <img src="/static/land/images/thesis/icon4.png" alt="">
                                </div>
                                <div class="thesis-item__text">
                                    <div class="thesis-item__title">
                                        Помогите друзьям
                                    </div>
                                    <div class="thesis-item__description">
                                        Вы уже умеете пользоваться криптовлютами или даже являетесь экспертом? Вы хотите помочь вашим друзьям освоить новые экономические возможности, но не хотите тратить своё время и становиться техподдержкой? Просто поделитесь ссылкой на наш сайт и заработайте на этом.

                                    </div>
                                </div>
                            </div>
    </section>
    <section id="section3" class="lessons">
        <h2 class="text-center">Образовательный курс "Практические аспекты использования криптовалют"</h2>
        <div class="lessons-wrapper">
            <div class="lessons-content">
                <div class="lessons-item">
                    <button>
                       <span class="front">
                           <span>Как открыть кошелёк и купить криптовалюту</span>
                       </span>
                        <span class="back">
                                Этот вводный урок бесплатен и доступен сразу после регистрации.
                                На нем будет рассмотрено заведение кошелька и наиболее простой и выгодный способ приобретения криптовалюты. Так же, рассматриваются основные биржи и даётся методология расчета где и как выгоднее всего купить валюту в настоящий момент.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                           <span> Криптовалюты и онлайн бизнес</span>
                        </span>
                        <span class="back">
                                Технология "Блокчейн" и сложившаяся вокруг неё индустрия открывает множество финансовых возможностей для пользователей интернета. Инвестиции в монеты, сетевые проекты, ICO с их баунти программами, p2p кредитование, маржинальная торговля, торговые онлайн полщадки и множество других опций дают шансы каждому человеку, склонному к предпринимательской активности нормально зарабатывать в интернете и реализовать себя. Мы опишем и расскажем об основных направлениях, выбирать любое из которых вы вольны сами.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                           <span>Лучшие криптовалютные сервисы</span>
                        </span>
                        <span class="back">
                             На данный момент существует как минимум 20 уникальных сервисов, которые помогают заниматься свободным, не облагаемым никакими налогами бизнесом в сети. Мы рассмотрим некоторые из них, подробно остановившись на практических методах их использования.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Безопасное использование электронных денег</span>
                        </span>
                        <span class="back">
                               По статистике 25% криптовалют похищают злоумышленники. При этом обычных электронных денег похищают еще больше. Если в случае с централизованными сервисами вы ничего не контролируете, то в случае с криптовалютами соблюдая <b>очень простые</b> меры предосторожности вы никогда не лишитесь своих средств, ведь при правильном использовании блокчейн гораздо надежне, чем любой швейцарский банк. Впервые вы узнаете всё о различных типах криптовалютных кошельков - в каком случае какой стоит выбрать именно вам.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                           <span> Технические и экономические принципы
                                  работы криптовалют
                           </span>
                        </span>
                        <span class="back">
                                Теперь, когда вы познакомились с основными возможностями многомиллиардной криптовалютной индустрии, пора понять как все это устроено и работает изнутри, чтобы глобально видеть рынок, легко ориентируюсь в материале привлекать инвесторов в свои проекты, с легкостью отвечать на любые каверзные вопросы и предвидеть развитие отрасли. Эта глава завершает первую часть нашего курса.  
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>
                                Введение в майниг криптовалют
                            </span>
                        </span>
                        <span class="back">
                                <p>"Скажи мне, что ты майнил прошлым летом =)?"</p>
                                Майнинг это одно из направлений извлечения прибыли, столь любимое для старта занятие крупных предпринимателей "на земле".
                                По сути майнинг - это когда вы сами становитесь эмитентом денег. Майнинг отличается стабильностью доходов, когда инвестиции окупаются за срок от 4х месяцев до 1ого года. Мы рассмотрим майнинг с общей точки зрения и как на этом зарабатывать, даже не будучи техническим специалистом и не делая собственных вложений. Какой вид майнинга выбрать, облачный или физический, на каком оборудовании майнить, на "Асиках" или на видеокартах, какие бывают алгоритмы для майнинга - все это вы узнаете в этом разделе.

                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                       <span class="front">
                           <span> Аппартаное обеспечение для майнига</span>
                       </span>
                        <span class="back">
                                Мы подробно рассмотрим актуальное оборудование для майнинга, сильные и слабые стороны "железа" на которые вам стоит обратить внимание при выборе. Так же мы рассмотрим майнинговые алгоритмы с достаточным количеством технических подробностей.  
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Расчет прибыльности майнинга</span>
                        </span>
                        <span class="back">
                                Этот раздел курса будет полностью посвящен методам предварительного расчета прибыли для прогнозирования доходов от майнинга криптовалют.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Введение в трейдинг криптовалют</span>
                        </span>
                        <span class="back">
                                Совокупная капитализация криптовалют перевалила за 200 миллиардов долларов, сущестуют сотни различных монет и токенов, торговать которыми может каждый, у кого есть хотя бы 10 баксов и желание попробовать. На таком растущем рынке зарабатывать казалось бы очень легко, тем не менее первый опыт неофитов зачастую приводит к потере денег. Мы расскажем про основные биржи, наглядно покажем как ими пользоваться, затронем маржинальную и лендинговую торговлю. Часть раздела будет посвещена анализу криптовалютных активов с точки зрения привлекательности инвестиций.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Торговые стратегии</span>
                        </span>
                        <span class="back">
                                Специфика трейдинга криптовалют такова, что математические модели трейдинга с традиционных финансовых рынков здесь практически не работают. Тем не менее есть классические методы и приёмы которые помогут преумножить свои средства, в этом разделе мы их рассмотрим. В дополнение мы расскажем о чисто криптовалютных приёмах, которые нигде не публикуются.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            Как выгодно инвестировать в ICO
                        </span>
                        <span class="back">
                                ICO - инициатива по выпуску монет - абсолютно новое явление криптовалютной экономики. Несмотря на то, что многие проекты так и не выпускают заявленный продукт, это не мешает предприимчивым и смышленным инвесторам зарабатывать на своевременной покупке и продаже токенов. Этот раздел посвящен тому, когда и в какое ICO стоит вложиться и когда стоит выходить,  продавая свои активы. 
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Как создать свою криптовалюту</span>
                        </span>
                        <span class="back">
                                Проводите вы своё ICO или нет, вы достаточно легко можете создать свою криптовалюту. Существуют различные платформы, которые позволяют сделать это без сколь-нибудь глубоких технических знаний. Только вот кому эта монета нужна, что с ней дальше делать, как и где её продвигать и стоит ли вообще этим заниматься? На все эти вопросы ответит данный раздел нашего курса.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                        <span class="front">
                            <span>Как провести ICO</span>
                        </span>
                        <span class="back">
                                Успешные ICO собирают десятки, а иногда и сотни миллионов долларов на свои проекты. Как сделать это самому и релизовать проект своей мечты который изменит мир - этому посвящено содержание данного раздела. Мы расскажем о процессе организации ICO на всех этапах выхода на рынок на примере успешных кейсов тех проектов, кому это удалось. 
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                       <span class="front">
                            <span>Устройтво Bloсkchain для разработчиков</span>
                       </span>
                        <span class="back">
                                Данный раздел полностью посвящен техническому устройству Блокчейн для разработчиков. Рассматривая Блокчейн на уровне программного кода, мы воссоздадим цепочку блоков буквально с нуля и покажем, как масштабируется эта технолгия. 
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="lessons-item">
                    <button>
                       <span class="front">
                            <span>
                                Cмарт-контракты и разработка
                                децентрализованных приложений
                            </span>
                       </span>
                        <span class="back">
                                Смарт контракты необходимы для проведения ICO, а также могут быть внедрены в различные бизнес процессы как в цифровой экономике, так и в экономике реального сектора. По сути, смарт-контракты заменяют юристов и карательные органы правосудия, делая нарушение условий сделки технически невозможным. Данный раздел курса посвящен применениям смарт-контрактов, перспективам технологии и специальному языку программирования - Solidity. Мы напишем и разберем несколько типовых смарт-контрактов, а также изучим синтаксис и строение используемого языка.
                        </span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section id="section4" class="partnership">
        <div class="container">
            <div class="row">
                <div id="partnership" class="partnership-title title">
                    Партнерская программа
                </div>
                <div class="partner-advantages">
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon">
                            <img src="/static/land/images/parner-icons/icon2.png" alt="">
                        </div>
                        <div class="text">
                             <div class="partner-title">
                                 Легко начать
                             </div>
                             <div class="description">
                                 Вам не понадобится докторская степень и 5-ти летний опыт. Участвовать в нашем проекте и преуспевать может каждый, кто владеет знаниями персонального компьютера на уровне обычного пользователя.
                             </div>
                        </div>
                    </div>
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon icon-svg">
                            <img src="/static/land/images/parner-icons/risk.png" alt="">
                        </div>
                        <div class="text">
                            <div class="partner-title">
                                Отсутствие рисков
                            </div>
                            <div class="description">
                                Пользователи имеют полный контроль над своими средствами. Все переводы осуществляются с кошелька на кошелек участников напрямую. Наша система не принимает и не хранит Ваши деньги.
                            </div>
                        </div>
                    </div>
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon">
                            <img src="/static/land/images/parner-icons/icon3.png" alt="">
                        </div>
                        <div class="text">
                            <div class="partner-title">
                                Широкий охват
                            </div>
                            <div class="description">
                                География проекта не ограничена Россией. Участники имеют возможность привлекать партнеров со всего мира без знания иностранного языка, увеличивая потенциальный заработок.
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon icon-svg">
                            <img src="/static/land/images/parner-icons/affiliate.png" alt="">
                        </div>
                        <div class="text">
                            <div class="partner-title">
                                Приглашать легко
                            </div>
                            <div class="description">
                               Наш проект разработан таким образом, чтобы Вы тратили минимальное количество времени на привлечение партнеров. Просто расскажите о проекте Древо и поделитесь своей реферальной ссылкой, видеоматериалы сайта и специальные помощники в онлайн-чате сделают все остальное за Вас!
                            </div>
                        </div>
                    </div>
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon">
                            <img src="/static/land/images/parner-icons/icon5.png" alt="">
                        </div>
                        <div class="text">
                            <div class="partner-title">
                                Доступность для каждого
                            </div>
                            <div class="description">
                               Низкая цена участия, всего 20$ в ether по текущему курсу, простота и качество обучающих материалов делают проект доступным для всех!
                            </div>
                        </div>
                    </div>
                    <div class="partner-advantages__item col-lg-4 col-md-4 col-sm-6">
                        <div class="icon">
                            <img src="/static/land/images/parner-icons/icon4.png" alt="">
                        </div>
                        <div class="text">
                            <div class="partner-title">
                                Максимальная доходность
                            </div>
                            <div class="description">
                                100% средств от приглашенного участника сразу попадают на Ваш криптовалютный кошелек, а математическая формула нашей партнерской программы позволит получить более $31 900 в эквиваленте Ether всего с двух партнеров прошедших обучающий курс.
                            </div>
                        </div>
                    </div>
                <div class="clearfix"></div>
                <button class="btn hero-btn btn--transparent" data-toggle="modal" data-target="#myModal3">
                    <span>Подробнее</span>
                </button>
            </div>
        </div>
    </section>
    <section id="section5" class="efirium">
        <div class="container">
            <div class="row">
                <div class="efirium-content">
                    <div class="efirium-image col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <img src="/static/land/images/group-4@3x.png" class="group-4">
                    </div>
                    <div class="efirium-text col-lg-7 col-md-6 col-sm-12 col-xs-12">
                        <div id="efirium" class="efirium-title title">
                            Почему мы используем Ethereum?
                        </div>
                        <p>
                            При выборе платежной системы мы&nbsp;стремились минимизировать издержки участников за&nbsp;транзакции, и&nbsp;чтобы участники получали заработанные средства максимально быстро.
                        </p>
                        <p>
                            Мы&nbsp;являемся приверженцами криптовалюты Bitcoin, так как эта монета является самой важной для всей индустрии. Однако комиссии в&nbsp;блокчейне Bitcoin в&nbsp;настоящий момент достигают нескольких долларов, а&nbsp;подтверждение транзакций зачастую занимает по&nbsp;несколько часов.
                        </p>
                        <p>
                            Транзакции в&nbsp;блокчейне Ethereum стоят порядка 15&nbsp;центов (эта сумма незначительно колеблется в&nbsp;зависимости от&nbsp;сложности сети), а&nbsp;скорость перевода в&nbsp;99% случаев занимает менее одной минуты!
                        </p>
                        <p>
                            Использовать Ethereum проще чем Bitcoin, он&nbsp;лучше подходит для быстрых и&nbsp;дешевых транзакций и&nbsp;открывает перед пользователем множество инвестиционных и&nbsp;технических возможностей. За&nbsp;полтора года курс Ethereum вырос на&nbsp;30&nbsp;000%, сделав эту электронную монету второй по&nbsp;капитализации в&nbsp;мире. В&nbsp;любом случае, используя ту&nbsp;или иную криптовалюту, Вам не&nbsp;составит труда и&nbsp;особых издержек обменять её&nbsp;на&nbsp;другую. Как это делать&nbsp;Вы с&nbsp;легкостью научитесь с&nbsp;помощью нашего обучающего курса.
                            </p>
                        <!--<a href="/register.html" class="efirium-btn btn--blue">
                            Попробовать
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section id="section10" class="video">
        <div class="container">
            <div class="row">
                <div id="video" class="video-title title">
                    Видеоматериалы
                </div>
                <div class="video-content">
                    <div class="video-item col-lg-6">
                        <div class="video-clip">
                           <iframe src="https://www.youtube.com/embed/EgYEVJKYAa8?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-item__title">
                            Видеообзор и процесс регистрации
                        </div>
                        <div class="video-item__text">
                            В этом видео вы можете своими глазами увидеть, как устроенно
                            и&nbsp;выглядит всё изнутри..
                        </div>
                    </div>
                    <div class="video-item col-lg-6">
                        <div class="video-clip">
                            <video width="100%">
                                <source src="/src/video/blockchain.mp4" type="video/mp4">
                            </video>
                            <div class="video-btn play">
                                <button class="btn btn--play btn--transparent">
                                    <span>Смотреть видео</span>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="video-item__title">
                            Презентация проекта Древо
                        </div>
                        <div class="video-item__text">
                            Основатель проекта Владимир Голован презентует "Древо" на криптовалютной конференции
                        </div>
                    </div>
                 </div>
            </div>
    </section>
   <section id="section6" class="how-work">
        <div class="container">
            <div class="row">
                <div id="how_work" class="how-work__title title">
                    Как это работает?
                </div>
                <div class="how-work__content">
                    <div class="how-work__image col-lg-5 col-md-5 col-sm-5">
                        <img src="/static/land/images/page-1@3x.png" class="Page-1">
                    </div>
                    <div class="how-work__text col-lg-7 col-md-7 col-sm-7">
                    <div class="video-item">
                          <div class="video-clip">
                               <video width="100%">
                                  <source src="/src/video/blockchain.mp4" type="video/mp4">
                               </video>
                               <div class="video-btn play">
                                   <button class="btn btn--play btn--transparent">
                                       <span>Смотреть видео</span>
                                       <i class="fa fa-caret-right" aria-hidden="true"></i>
                                   </button>
                               </div>
                          </div>
                          <div class="video-item__title">
                              Презентация проекта Древо
                          </div>
                          <div class="video-item__text"></div>
                          </div>
                        <p>
                           Нажмите "подробнее", чтобы узать как пользоваться нашим проектом, а также как все устроено изнутри.
                        </p>
                        <div class="how-work__buttons">
                            <button class="how-work__btn btn--blue" data-toggle="modal" data-target="#myModal2">
                                Подробнее
                            </button>
                            <a class="btn reg-link btn--yellow" href="/signup">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section7" class="team-block">
        <div class="container">
            <div class="row">
                <div id="team" class="team-title title">
                    Команда
                </div>
                <div class="team-content">
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/vovan.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Владимир Голован - Основатель
                        </div>
                        <div class="team-item__description">
                            <p>Экономист, лектор, web разработчик.</p>
                            <p>15 лет опыта в сфере IT, последние два года полностью посвятил себя технологии Blockchain</p>
                            <p>Основатель и разработчик проекта smart-people.org, автор оригинальной идеи и архитектор проекта Древо</p>
                        </div>
                    </div>
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/anton.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Антон Кулагин 
                            <p>Со-основатель</p>
                        </div>
                        <div class="team-item__description">
                            <p>Мастер продаж, криптоэнтузиаст, предприниматель</p>
                            <p>Соучередитель проекта Smart-People.org</p>
                            <p>Глава консалтингового агентства "Кулагинъ и партнеры"</p>
                        </div>
                    </div>
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/ruslan.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Руслан Валиев - Менеджер по развитию
                        </div>
                        <div class="team-item__description">
                            <p>5 лет опыта работы в сфере развития бизнеса. Операционный менеджмент, поиск новых каналов продвижения проекта, привлечение целевой аудитории. Расширение функционала портала для повышения вовлеченности участников.</p>
                        </div>
                    </div>
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/nikitab.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Никита Бессонов - Менеджер команды
                        </div>
                        <div class="team-item__description">
                             <p>Опыт в управлении технологическими проектами и стратегическом маркетинге. Трейдер на срочной секции ММВБ с 2014 года. В 2015 году запустил свой проект по эффективному инвестированию с использованием методов машинного обучения. Разработчик на С/C++ и R.</p>
                        </div>
                    </div>
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/nikitak.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Никита Кожанов - Специалист по стратегическому планированию
                        </div>
                        <div class="team-item__description">
                            <p>Опытный предприниматель, инвестор, разработчик стратегии развития. Основатель и владелец успешных компаний по предоставлению консультационных и юридических услуг.</p>
                            <p>Специализируется в нахождении и воплощении перспективных бизнес идей.</p>
                        </div>
                    </div>
                    <div class="team-item col-lg-4 col-sm-6 col-xs-12">
                        <div class="team-item__icon">
                            <img src="/static/land/images/sveta.jpg" alt="">
                        </div>
                        <div class="team-item__name">
                            Светлана Горяйнова - Менеджер по взаимодействию
                        </div>
                        <div class="team-item__description">
                            <p>Smm специалист, организатор мероприятий, участник благотворительных движений.</p>
                            <p>Информационная поддержка пользователей.</p>
                        </div>
                    </div>

            </div>
        </div>
    </section>
    <section id="section8" class="faq">
        <div class="container">
            <div class="row">
                <div id="faq" class="faq-title title">
                    Часто задаваемые вопросы
                </div>

                <div class="faq-wrapper">
                    <div class="faq-content col-lg-8 col-md-8">
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question1">
                                Какова цель проекта "Древо"?
                            </div>
                            <div class="faq-item__answer collapse in" id="question1">
                                Повысить финансовую грамотность населения.
                                Показать, что своими средствами можно управлять полностью самостоятельно.
                                Продемонстрировать, что абсолютно каждый может использовать и зарабатывать
                                криптовалюты.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question2">
                                Какой продукт предлагает проект?
                            </div>
                            <div class="faq-item__answer collapse" id="question2">
                                Обучающий практический курс "Практические аспекты использования криптовалют".
                                Практические возможности зарабатывать криптовалюту.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question3">
                                В интернете существует множество бесплатной информации по криптовалютам,
                                что особенного в вашем курсе?
                            </div>
                            <div class="faq-item__answer collapse" id="question3">
                                Вы правы, в интернете действительно существуют ресурсы, распространяющие бесплатные
                                и
                                полезные знания о криптовалютах. Располагая этой информацией, Вам нужно задаться
                                вопросом, готовы ли Вы тратить десятки часов, только на отсеивание сотни источников,
                                постоянные проверки квалификации их авторов, в поиске правильных и достоверных
                                ресурсов
                                на эту неизвестную и чрезвычайно сложную тему? Если Вы ответили да, то
                                образовательная
                                программа проекта Древо не для Вас. Если Вы все же считаете, что $20 – справедливая
                                плата за отсутствие необходимости проходить через вышеописанный процесс, добро
                                пожаловать!
                                Курс "Практические аспекты использования криптовалют" – первая образовательная
                                программа,
                                где информация об электронной экономике тщательно структурирована и подана пошагово,
                                от
                                азов до самых сложных технических нюансов. Благодаря скрупулезному подходу нашей
                                команды, в курсе собраны знания, которых нет в других источниках.
                                Наш опыт общения с участниками криптовалютной экономики, в том числе и на
                                многочисленных
                                конференциях, показывает, что большинство людей не знают и половины того, что мы
                                излагаем в нашем курсе. Этот факт, в числе других и сподвиг нас на создание данного
                                курса.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question4">
                                Я не новичок и уже пользуюсь криптой, зачем мне участвовать?
                            </div>
                            <div class="faq-item__answer collapse" id="question4">
                                Наверняка, Вы уже сталкивались с тем, что все больше и больше Ваших знакомых
                                интересуются криптовалютой. При этом каждому по отдельности приходится объяснять все
                                с
                                начала, это очень хлопотно и занимает уйму времени. Наш проект поможет решить эту
                                проблему. Все что нужно сделать Вам – поделиться реферальной ссылкой, дальше наш
                                сайт
                                сделает все за Вас. Больше не придется отвечать на назойливые вопросы, а Вы к тому
                                же и
                                заработаете. Звучит неплохо не правда ли?
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question5">
                                Какие персональные данные вы собираете?
                            </div>
                            <div class="faq-item__answer collapse" id="question5">
                                Только адрес электронной почты, на случай, если Вы забудете пароль от сайта.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question6">
                                Как я защищен от потери средств, участвуя в вашем проекте?
                            </div>
                            <div class="faq-item__answer collapse" id="question6">
                                Организаторы не участвуют в операциях по переводу криптовалюты от участника к
                                участнику.
                                Код сайта автоматически фиксирует факт того, что транзакция дошла до адресата и
                                сумма
                                соответствует стоимости ключа. Все транзакции происходят между партнерами напрямую.
                                Потеря средств возможна только в том случае, если стороннее лицо получит доступ к
                                частному ключу Вашего Ethereum кошелька, что практически невозможно при соблюдении
                                не
                                сложных мер безопасности, о которых мы расскажем Вам в разделе обучения.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question7">
                                У вас есть зарегистрированная компания?
                            </div>
                            <div class="faq-item__answer collapse" id="question7">
                                Для работы самого портала юридическое лицо не
                                требуется. Мы используем proof of concept, логика проекта говорит сама за себя, не храним и не управляем Вашими
                                средствами.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question8">
                                Каковы дальнейшие планы по развитию проекта?
                            </div>
                            <div class="faq-item__answer collapse" id="question8">
                                Выход на международный рынок. Предоставить возможность другим участникам продавать
                                свои
                                продукты на нашей платформе. Провести аудит кода и открыть исходники проекта для
                                сообщества.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question9">
                                Криптовалюты в России имеют неопределенный статус, что будет, если доступ к сайту
                                заблокируют?
                            </div>
                            <div class="faq-item__answer collapse" id="question9">
                                Сайт переедет на новый домен. Адрес нового домена участники узнают через
                                многочисленные
                                каналы связи - наши группы в социальных сетях, канал в Телеграм и прочие источники.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question10">
                                На чем зарабатывают создатели проекта?
                            </div>
                            <div class="faq-item__answer collapse" id="question10">
                                Организаторы зарабатывают как рядовые участники, с одной оговоркой, ключами 14-го
                                уровня
                                мы владеем изначально, поэтому у нас нет необходимости инвестировать в покупку новых
                                ключей.
                                На реализацию проекта и разработку обучающего курса потрачено огромное количество
                                времени, сил и ресурсов, поэтому мы считаем это справедливым вознаграждением за наш
                                труд.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question11">
                                Что бы вы посоветовали участникам?
                            </div>
                            <div class="faq-item__answer collapse" id="question11">
                                Чтобы заработатывать вышеоговоренные суммы, а это очень неплохие деньги, вам нужно пригласить хотя бы двух партнеров, и донести им мысль, что для успеха им нужно сделать тоже самое. Это минимальная задача, которую при сильном желании каждый может выполнить за неделю. Это небольшая плата за то, чтобы купить себе хороший автомобиль, небольшой катер или с комфортом попутешествовать по миру, выплатить ипотеку или улучшить свои жилищные условия. Если вы хотите заработать еще больше - приглашайте больше партнеров. Активные и успешные участники сетевых проектов приглашают по 300 партнеров в месяц в проекты, которые гораздо менее выгодны чем наш. 
                               <p> Во вторых -  если вы хотите увеличивать свой пассивный доход в геометрической прогрессии - покупайте ключи сразу, как только вы на них заработали, а остальное тратьте потом. </p>
                                <p>Ну и в третьих, мы настоятельно рекомендуем использовать персональный компьютер или ноутбук. Расчитывать значительно улучшить свою жизнь разминая большой палец лежа на диване - сомнительное занятие. Наш сайт адаптирован под телефоны, но внешние криптовалютные сервисы можно спокойно, безопсно и с удовольствием использовать только на нормальном компьютере. Конечно, если у вас нет компьютера, вы можете начать с телефона, но при первой возможности потратьте хотя бы 5 тысяч рублей на подержанный ПК с монитором, его вам вполне хватит для работы.</p> 
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="faq-item__question" data-toggle="collapse" data-target="#question12">
                                Я хочу задать свой вопрос, как это сделать?
                            </div>
                            <div class="faq-item__answer collapse" id="question12">
                                Мы готовы ответить на абсолютно любые вопросы. Вы можете задать их в онлайн чате, в
                                наших группах, в социальных сетях и так далее. Самые часто задаваемые вопросы будут
                                помещены в этот раздел.
                            </div>
                        </div>
                    </div>
                    <div class="faq-image col-lg-4 col-md-4">
                        <img src="/static/land/images/invalid-name_7@3x.png" class="layer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="section9" class="footer fp-auto-height">
        <div class="container">
            <div class="row">
                <div class="footer-info col-lg-8 col-xs-12 col-sm-6">
                    2017 | Проект ДРЕВО
                </div>
                <div class="footer-social col-lg-4 col-xs-12 col-sm-6">
                    <a href="https://vk.com/drevo_project" target="_blank">VKontakte</a>
                    <a href="https://facebook.com/drevoproject" target="_blank">Facebook</a>
                    <a href="https://t.me/drevo_project" target="_blank">Telegram</a>
                </div>
            </div>
        </div>
    </footer>
    <a href="#section1" class="scroll-btn">
            <img src="/static/land/images/button-up.png" alt="">
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> Видеообзор и процесс регистрации</h4>
            </div>
            <div class="modal-body">
                <div class="video-content">
                    <div class="video-item col-lg-12 col-md-12 col-sm-12">
                        <div class="video-clip">
                            <video width="100%">
                                <source src="#" type="video/mp4">
                            </video>
                            <div class="video-btn play">
                                <button class="btn btn--play btn--transparent">
                                    <span>Смотреть видео</span>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal--how">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel2">Как это работает</h2>
            </div>
            <div class="modal-body">
                <p>
                    После регистрации Вы попадаете в личный кабинет. Для участия в партнерской программе
                    необходимо приобрести ключ 1-го уровня, чтобы иметь возможность в неограниченном
                    количестве продавать его своим приглашенным партнерам.
                    Цена Ethereum быстро меняется изо дня в день, поэтому, чтобы стоимость обучающих материалов и ваши прямые доходы от участия
                    были стабильны, мы привязали ее к USD. При нажатии на иконку ключа в разделе «Купить
                            ключ»,
                            будет показана его стоимость в Ethereum, посчитанная по текущему курсу USD, и номер
                            электронного кошелька старшего партнера, куда следует отправить оплату в Ethereum.
                    После отправки средств, введите номер транзакции в соответствующее окно, и нажмите кнопку
                    «проверить». Система автоматически сделает запрос в Blockchain, и при получении
                    удовлетворительного ответа отправляет ключ. С приобретением нового ключа, в разделе
                    «Обучающие материалы» будет открываться доступ к новому видео уроку и его текстовой
                    транскрипции.
                    Теперь Вы – полноценный участник партнерской программы. Введите номер своего электронного
                    кошелька, на который впоследствии будут переводиться средства привлеченных партнеров. При
                    желании, Вы можете заменить номер своего кошелька в любое время. Человек, позвавший Вас,
                    становится старшим партнером (СП), ключи следующих уровней Вы будете покупать у него. Таким
                    же образом, привлекая людей в программу, и продавая им ключи, Вы становитесь СП своих
                    рефералов.
                </p>
                <p>
                    В разделе партнеры вы видите ваших партнеров и их уровень прогресса.

                </p>
                <p>
                    В разделе Маркетинг вы найдете информацию о том, где и как искать новых партнеров. Этому
                    посвящено отдельное обучающее видео.
                </p>
                <p>
                    В разделе Профиль, вы можете оставить контактную информацию о себе в свободной форме. Она
                    нужна для того, чтобы младшие партнеры могли с Вами связаться.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="3" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-partner">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel3">Партнерская программа</h2>
            </div>
            <div class="modal-body">
                <div class="partner-text col-lg-12">
                    <p>
                        <span>Сегодня криптовалюта</span> - одна из самых горячих тем для обсуждения. Все видят, как
                        растут курсы
                        монет, огромные перспективы привлечения средств через ICO crowdfunding, потенциальные заработки
                        на крипто
                        бирже. С таким ажиотажем, Вам не понадобится тратить время для того, чтобы объяснять людям,
                        зачем им нужен
                        наш курс, все хотят найти ресурс, где доходчиво объясняется, для чего созданы криптовалюты и как
                        можно на
                        них зарабатывать.
                    </p>
                    <p>
                        Больше искать не нужно. Курс <span>«Криптовалюты от новичка до профессионала»</span> специально
                        разработан
                        чтобы ответить
                        даже на самые сложные вопросы тематики электронных денег.
                    </p>
                    <p>
                        <span>Проект Древо</span> предлагает не только детальное погружение в сферу криптовалют, но и
                        одну из самых
                        выгодных
                        партнерских программ, существующих на рынке. Главное преимущество программы заключается в том,
                        что участник
                        получает 100% от стоимости проданных рефералам ключей. В нашей системе нет реинвестов, скрытых
                        комиссий,
                        абонентских платежей, организаторы получают деньги точно так же, как и остальные, привлекая
                        участников.
                    </p>
                    <p>
                        Ваши деньги не хранятся и не обрабатываются сайтом, мы лишь проверяем, отправляя запрос в
                        blockchain, дошли
                        ли средства правильному партнеру, как только транзакция фиксируется, мы отправляем покупателю
                        ключ, все
                        транзакции происходят через платежную систему <span>Ethereum</span>.
                    </p>
                    <p>
                        Еще одним немаловажным преимуществом является то, что мы ничем не ограничиваем партнеров
                        программы. Работать
                        одному или в команде, оплачивать рекламу или привлекать собственными силами, пользуясь
                        сарафанным радио –
                        решать Вам! Для участия Вам не понадобится проходить платные курсы, посещать тренинги, петь
                        корпоративные
                        гимны.
                    </p>
                    <p>
                        Каждый раздел курса "Криптовалюты от новичка до профессионала" открывается отдельным ключом.
                        Идея
                        заключается в том, что, приобретая ключ однажды, можно перепродавать его неограниченное
                        количество раз. При
                        постепенном прохождении по уровням, вложения окупаются уже после привлечения одного человека.
                        Полагаясь на
                        знаменитую прогрессию Фибоначчи, мы создали систему, в которой приглашения всего двух активных
                        партнеров
                        достаточно для того, чтобы дойти до последнего, 14-го уровня. Ниже приведена таблица изменения
                        баланса
                        кошелька участника в USD эквиваленте ethereum. Рассматривается ситуация, когда у участника 2
                        реферала и он
                        вложил только первоначальные $20*, все остальные ключи он покупает с дохода от продаж ключей
                        младшим
                        партнерам:
                    </p>
                </div>
                <div class="partner-tables col-lg-12">
                    <div class="partner-table">
                        <div class="partner-table__column">
                            <div class="partner-table__header">Номер ключа</div>
                            <div class="partner-table__key">1</div>
                            <div class="partner-table__key">2</div>
                            <div class="partner-table__key">3</div>
                            <div class="partner-table__key">4</div>
                            <div class="partner-table__key">5</div>
                            <div class="partner-table__key">6</div>
                            <div class="partner-table__key">7</div>
                            <div class="partner-table__key">-</div>
                        </div>
                        <div class="partner-table__column">
                            <div class="partner-table__header">Стоимость ключа</div>
                            <div class="partner-table__price">20$</div>
                            <div class="partner-table__price">40$</div>
                            <div class="partner-table__price">60$</div>
                            <div class="partner-table__price">100$</div>
                            <div class="partner-table__price">160$</div>
                            <div class="partner-table__price">260$</div>
                            <div class="partner-table__price">420$</div>
                            <div class="partner-table__price">-</div>
                        </div>
                        <div class="partner-table__column">
                            <div class="partner-table__header">Прибыль</div>
                            <div class="partner-table__price">-20$</div>
                            <div class="partner-table__price">-20$</div>
                            <div class="partner-table__price">0$</div>
                            <div class="partner-table__price">20$</div>
                            <div class="partner-table__price">60$</div>
                            <div class="partner-table__price">80$</div>
                            <div class="partner-table__price">100$</div>
                            <div class="partner-table__price">-</div>
                        </div>
                    </div>
                    <div class="partner-table">
                        <div class="partner-table__column">
                            <div class="partner-table__header">Номер ключа</div>
                            <div class="partner-table__key">8</div>
                            <div class="partner-table__key">9</div>
                            <div class="partner-table__key">10</div>
                            <div class="partner-table__key">11</div>
                            <div class="partner-table__key">12</div>
                            <div class="partner-table__key">13</div>
                            <div class="partner-table__key">14</div>
                            <div class="partner-table__key">-</div>
                        </div>
                        <div class="partner-table__column">
                            <div class="partner-table__header">Стоимость ключа</div>
                            <div class="partner-table__price">680$</div>
                            <div class="partner-table__price">1100$</div>
                            <div class="partner-table__price">1780$</div>
                            <div class="partner-table__price">2880$</div>
                            <div class="partner-table__price">4660$</div>
                            <div class="partner-table__price">7540$</div>
                            <div class="partner-table__price">12200$</div>
                            <div class="partner-table__price">-</div>

                        </div>
                        <div class="partner-table__column">
                            <div class="partner-table__header">Прибыль</div>
                            <div class="partner-table__price">140$</div>
                            <div class="partner-table__price">260$</div>
                            <div class="partner-table__price">420$</div>
                            <div class="partner-table__price">680$</div>
                            <div class="partner-table__price">1100$</div>
                            <div class="partner-table__price">1780$</div>
                            <div class="partner-table__price">2880$</div>
                            <div class="partner-table__price">24400$</div>
                        
                        </div>
                    </div>
                    <div class="partner-table__value">
                        Итоговая прибыль <span>31 900$*</span>
                    </div>
                    <div class="partner-table__comment">*исчисление ведется в эквиваленте Ethereum</div>
                    <div class="partner-table__text">
                        <p>
                            <span style="display:block; margin-bottom: 10px">На практике все выглядит следующим образом:</span>
                            участник начинает с 1-го уровня, приобретая ключ за $20* в эквиваленте ethereum. Структура
                            устроена так,
                            что если старший партнер (СП) имеет 2-х активных рефералов, так же заинтересованных в
                            быстром росте, то
                            кроме первоначальных $20, дополнительные инвестиции для движения вверх не понадобятся.
                            Выгода от продажи
                            2-х ключей 1-го уровня составит $40, чего будет достаточно, чтобы приобрести ключ 2-го, что
                            даст
                            возможность начать получать пассивный доход с привлеченных на 1-ю ступень партнеров. Когда
                            младшие
                            партнеры (МП) привлекут по 2 человека каждый и захотят продвинуться вверх по цепочке, они
                            купят у СП 2
                            ключа 2-го уровня за $40. Теперь СП может приобрести ключ 3-го уровня за $60, что позволит
                            ему снова
                            остаться впереди своих рефералов и продолжить получать пассивный доход. По такой схеме
                            участники могут
                            дойти до последнего, 14-го уровня. Если участник уже имеет все 14 ключей, то с каждого
                            реферала,
                            дошедшего до 14-го уровня, он получает $31 900.
                        </p>
                        <p>
                            После приобретения 14-го ключа, участнику больше не нужно инвестировать средства, полученные
                            от
                            партнеров на покупку ключей, он может получать эквивалент $31 900 в ether с каждого
                            привлеченного
                            участника.
                        </p>
                        <p class="special">
                            Мы выстраиваем маркетинг проекта так, чтобы для привлечения новых людей, партнерам нужно
                            было лишь
                            рассказать о нашей образовательной программе и поделиться реферальной ссылкой, все остальное
                            за Вас
                            сделает информативная главная страница и максимально выгодные условия сотрудничества.
                        </p>
                        <p>
                            Также следует упомянуть, что в нашей системе заложен <span>мотивационный фактор</span> по
                            покупке новых ключей.
                            Допустим, Вы находитесь на 3-м уровне и не приобрели ключ 4-го. Ваши МП, которые тоже
                            находятся на 3-й
                            ступени, активно привлекая участников, заработали достаточно, чтобы приобрести ключ 4-го и
                            отправляют
                            запрос на покупку. Если Вас есть 4-й ключ, то средства переводятся на Ваш кошелек, в ином
                            случае,
                            покупка производится у участника, стоящего над Вами, то есть прибыль от продажи получает
                            кто-то другой.
                            Это сделано для того, чтобы дать участникам стимул активно продвигаться вверх по уровням.
                            Для того,
                            чтобы снова стать СП, необходимо встать на ступень выше опередившего Вас реферала, то есть
                            купить два
                            ключа подряд. Тогда Вы снова автоматически становитесь СП этого реферала, и в личном
                            кабинете этого
                            партнера, при покупке следующего ключа снова будет высвечиваться Ваш кошелек.
                        </p>
                        <p>
                            Безусловно, чтобы получать пассивный доход, Вам нужно принимать активное участие, потому что
                            деньги не
                            берутся из воздуха. Но и вознаграждение будет щедрым: приведите двух партнеров, пройдите с
                            ними все 14
                            уровней, и получите $31 900.
                        </p>
                        <p>Еще одним важным фактором, явяляется то что для успешного прогресса в проекте вы можете работать как в команде так и в гордом одиночестве. Хорошая команда это замечательно, но вы можете создать её сами вместе с близкими по духу людьми, при этом ваши доходы зависят только от вас. </p>
                        <p> Мы рекомендуем вам присоеднится к нашему каналу в <a href="https://t.me/drevo_project" target="_blank"><b class="telega">Телеграм</b></a> - там вы получите новые деловые связи, помощь и мотивацию к успеху. 
                        <p>
                            При создании проекта Древо, было изучено множество партнерских программ, их недостатки были
                            переработаны, чтобы стать <span>нашими преимуществами</span>. Пользуйтесь интерфейсом,
                            повышайте свою квалификацию
                            как специалист по криптовалютам, рассказывайте своим друзьям и улучшайте свое
                            благосостояние!
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script src="/static/land/libs/jquery.min.js"></script>
<script src="/static/land/libs/bootstrap.min.js"></script>
<script src="/static/land/libs/jquery.fullpage.js"></script>
<script src="https://use.fontawesome.com/b6d5c21aaa.js"></script>
<script src="/static/land/scripts/main.js"></script>




</body>
</html>