<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <title>Личный кабинет</title>
    <meta name="title" content="Проект древо: личный кабинет"/>
    <meta name="description" content="Проект древо: личный кабинет"/>
    <meta name="keywords" content="проект древо, личный кабинет"/>

    <link rel="apple-touch-icon" sizes="32x32" href="/static/boffice/images/icons/favicon32.ico">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">

    <link rel="stylesheet" href="/static/boffice/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/boffice/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/boffice/styles/typography.css">
    <link rel="stylesheet" href="/static/boffice/styles/main.css">
    <link rel="stylesheet" href="/static/boffice/styles/media.css">

</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <a href="/" class="header-logo">
                <img src="/static/boffice/images/icons/logo.svg" width="75" alt="Проект Древо">
            </a>
            <div class="header-projectname">
                Проект древо
            </div>
        </div>
    </div>
</header>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<section class="form-group">
    <div class="container">
        <div class="row">
            <div class="user-info col-lg-2 col-sm-3">
                <div class="user-info__wrapper">
                    <div class="user-info__icon">
                        <img src="/static/boffice/images/icons/user@3x.png" alt="">
                    </div>
                    <div class="user-info__name">{{ current_user.username }}</div>
                </div>
            </div>
            <div class="form-group__column col-lg-3 col-sm-4">
                <div class="input-group">
                    <label for="ref">Реферальная ссылка</label>
                    <input type="text" name="ref" id="ref" class="form-control" placeholder="/partnerid"
                           disabled value="{{ current_user.ref }}">
                </div>
            </div>
            <div class="form-group__column col-lg-3 col-sm-4">
                <div class="input-group">
                    <label for="ref">Старший партнер</label>
                    <input type="password" name="partner" class="form-control" disabled
                           placeholder="Username" value="{{ parent.username }}">
                    <div class="input-btn btn--show">
                        <span class="visibility">
                            <img src="/static/boffice/images/icons/visibility@3x.png" width="27" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group__column col-lg-4 col-sm-8">
                <div class="input-group">
                    <form method="post" action="{{ url_for('update_wallet') }}">
                        {{ wallet_form.hidden_tag() }}
                        {{ wallet_form.wallet(class_='form-control') }}
                        {{ wallet_form.submit(class_='input-btn') }}
                        {#                    <label for="ref">{{ wallet_form.wallet.label }}</label>#}
                        {#                    <input type="text" name="purse" class="form-control" placeholder="{{ wallet_form.wallet.label }}"#}
                        {#                           value="{{ wallet_form.wallet.data }}">#}
                        {#                    <div class="input-btn">#}
                        {#                        <span class="edit">#}
                        {#                            <img src="/static/boffice/images/icons/edit-2@3x.png" width="19" alt="">#}
                        {#                        </span>#}
                        {#                    </div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="/keys">Купить ключ</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/video">Видеоуроки</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    <li><a href="/profile">Профиль</a></li>
                     <img src="/static/boffice/images/icons/settings@3x.png" width="17" alt="">
                    </a>
                    </li>
                    <li><a href="#exit" class="tab-exit">
                        Выйти
                        <img src="/static/boffice/images/icons/logout-2@3x.png" width="14" alt="">
                    </a>
                    </li>
                </ul>
            </div>
            {% if not receiver %}
    You reached maximum level
{% else %}
    {% if payment.rejected %}
        Your transaction rejected! Check amount or contact us.
    {% endif %}
    You should pay {{ payment.ether }} ETH or {{ payment.dollars }} USD to {{ payment.wallet }} of user
    {{ receiver.username }}
    <form action="{{ url_for('buylvl') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.transaction() }}
        {{ form.submit() }}
        {{ form.refresh() }}
    </form>
{% endif %}
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-info col-lg-8 col-xs-12 col-sm-6">
                2017 | Проект ДРЕВО
            </div>
            <div class="footer-social col-lg-4 col-xs-12 col-sm-6">
                <a href="#">VKontakte</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </div>
    </div>
</footer>


<script src="/static/boffice/libs/jquery.min.js"></script>
<script src="/static/boffice/libs/bootstrap.min.js"></script>
<script src="/static/boffice/libs/jquery.slimscroll.min.js"></script>
<script src="https://use.fontawesome.com/b6d5c21aaa.js"></script>
<script src="/static/boffice/scripts/scripts.js"></script>

</body>
</html>