{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Login
{% endblock %}

{% block styles %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}"> {% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

        <form class="form-signin" method="POST" action="/login">
            <h2 class="form-signin-heading">Войти в личный кабинет</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->
{% endblock %}