<!DOCTYPE html>
{% extends "reg.jinja2" %}

{% block content %}
    <div class="wrapper">
            <div class="wrapper-register">
            <div class="logo">
                <a href="/" class="logo">
                   <img src="/static/land/images/logo.svg" alt="">
                   <span>Проект Древо</span>
                </a>
            </div>
<link rel="stylesheet" href="/static/land/libs/bootstrap.min.css">
        <form class="form-signin" method="POST" action="/login">
        {% for message in get_flashed_messages() %}
              <div class="error-auth">
                 {{ message }}
                 <span class="error-auth-icon">!</span>
              </div>
        {% endfor %}
            <h2 class="form-signin-heading"></h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            <div class="form-signin-row">
                {{ wtf.form_field(form.remember) }}
                <a href="/reset_password">Забыли пароль?</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <a href="/signup" class="reg-link">Регистрация</a>
        </form>
        <script src="/static/land/libs/jquery.min.js"></script>
        <script src="/static/land/libs/bootstrap.min.js"></script>
        <script src="/static/land/scripts/main.min.js"></script>
    </div>
</div>
{% endblock %}