{% extends 'base.jinja2' %}
{% block  content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li class="active"><a href="/marketing">Маркетинг</a></li>

                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="marketing">
                    <h2 class="marketing-title title">Руководство по поиску партнеров.</h2>
                    <div class="marketing-text">
                        <div class="marketing-column col-lg-4 col-sm-4">
                            <h2 class="marketing-title">Статьи</h2>
                            <p><a href="#">Статья 1</a></p>
                            <p><a href="#">Статья 2</a></p>
                            <p><a href="#">Статья 3</a></p>
                        </div>
                        <div class="marketing-column col-lg-4 col-sm-4">
                            <h2 class="marketing-title">Ссылки</h2>
                            <p><a href="#">Ссылка 1</a></p>
                            <p><a href="#">Ссылка 2</a></p>
                            <p><a href="#">Ссылка 3</a></p>
                        </div>
                        <div class="marketing-column col-lg-4 col-sm-4">
                            <h2 class="marketing-title">Видео</h2>
                            <p><a href="#">Видео 1</a></p>
                            <p><a href="#">Видео 2</a></p>
                            <p><a href="#">Видео 3</a></p>
                        </div>

                        <!--<h2 class="marketing-title title">Где?</h2>-->
                        <!--<p> На форумах</p>-->
                        <!--<p> В группах социальных сетей</p>-->
                        <!--<p> С помощью Ютубе.</p>-->
                        <!--<p>На тематических каналах в телеграм.</p>-->

                        <!--<h2 class="marketing-title title"> Как?</h2>-->
                        <!--<p> Путем живого общения</p>-->
                        <!--<p> С помощью интернета </p>-->
                        <!--<p> При личной встрече</p>-->
                        <!--<p> В скайпе</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}