{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    
                   <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <h3>Ваш старший партнер: {{ parent.username }} <br> </h3>
                <h3>Координаты для связи: {{ parent.contacts }} <br></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
