{% extends 'base.jinja2' %}
{% block  content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li class="active"><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    
                   <li><a href="{{ url_for('logout') }}">
                       Выйти</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="partners-content">
                    <div class="partners-content-wrapper">
                        {% for partner in partners %}
                        <div class="user-info">
                            <div class="user-info__wrapper wrapper--partners">
                                <div class="user-info__icon">
                                    <img src="/static/boffice/images/icons/user_new.png" alt="">
                                </div>
                                <div class="user-info__name">{{ partner.username }}</div>
                                <div class="user-info__lavel">{{ partner.keylvl }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}