{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/lk2">Профиль</a></li>
                    <li class="active"><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>
                    
                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
        <div>         
{% if not receiver %}
    You reached maximum level
{% else %}
    {% if payment.rejected %}
        Your transaction rejected! Check amount or contact us.
    {% endif %}
    {% endif %}
</div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="keys">
                    <div class="key">
                        <div class="key-content">
                            <div class="key-payment content-box">
                                <div class="key-payment__header">
                                    <div class="cost">
                                        <p> Вы покупаете ключ <span>{{ key2buy }}</span> уровня </p>
                                    </div>
                                </div>
                                <div class="requisites">
                                    Псевдоним получателя: "{{ receiver.username }}"
                                <p>Уровень ключа получателя:  "{{ receiver.keylvl }}" </p>
                                </div>
                                    <div class="requisites">
                                    <p style="overflow:hidden">
                                    Переведите {{ payment.ether }} эфира (<input type="text" name="purse" id="efir" class="efir-number" value="{{ payment.dollars }}" readonly=""> $)
                                     <br>
                                     <span style="float:left; width:100%; font-weight:100">на номер кошелька получателя:</span>
                                        <span>
                                            <input type="text" name="purse" id="purse" class="purse-num" value="{{ receiver.wallet }}" readonly="">
                                            <button class="key-btn" title="Копировать номер кошелька" data-clipboard-target="#purse"></button>
                                        </span>
                                    </p>
                                        <div class="input-buffer"></div>

                                </div>
                            </div>
                            <div class="key-check content-box">
                            <div> Для подтверждения платежа, вставьте ТxHash отправленной транзакции </div>
                                <form action="{{ url_for('buylvl') }}" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.transaction() }}
                                    {{ form.submit(value="Отправить") }}
                                </form>
                                <div class="content-box__notice">
                                    В течение нескольких минут после подтверждения транзакции в системе Ethereum Вам
                                    будет начислен соответствующий ключ.Наблюдайте изменение ключа в странице Профиля.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal4" tabindex="1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-partner">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel4"> Платеж подтвержден!</h2>
            </div>
            <div class="modal-body">
                Вы успешно подтвердили платеж!
            </div>
        </div>
    </div>
</div>
{% endblock %}