{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="/lk2"> Профиль </a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>

                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="profile">
                    <div class="profile">
                        <div class="profile-header">
                            <div class="level"><h3>У вас <span>{{ current_user.keylvl }}</span> ключ </h3></div>
                            {% if not current_user.verified %}:<button class="mail-confirm not_confirm"
                                    onclick="window.location ='{{ url_for('verify_email') }}';"
                                    <b>Подтвердить эл.почту</b>
                            </button>{% endif %}
                        </div>
                        <div class="profile-content">
                            <div class="purse content-box">
                                <div class="purse-header">
                                    <div class="requisites">
                                        Текущий Etherеum кошелек:
                                    </div>
                                    <div>
                                        <div class="purse-number">{{ current_user.wallet }}</div>
                                        <button class="purse-change">Изменить</button>
                                    </div>
                                </div>
                                <div class="purse-form">
                                    <form action="{{ url_for('lk') }}" method="post">
                                        {{ wallet_form.hidden_tag() }}
                                        {{ wallet_form.wallet() }}
                                        {{ wallet_form.submit(value="Обновить") }}
                                        <div class="clearfix"></div>
                                    </form>
                                    <div class="purse-form__notice">
                                        *Прибыль от продажи ключей будет приходить на Ваш Etherium кошелек.
                                        Номер кошелька можно изменить в любой момент.
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="profile-contacts content-box">
                                <div class="profile-contacts__info">
                                    <div>
                                        <div class="contacts-info__title">
                                            Координаты для связи:
                                        </div>
                                        <div class="contacts-requisites">
                                            <div class="requisites">
                                                {{ current_user.contacts['default'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-change">Изменить</button>
                                </div>
                                <form action="{{ url_for('lk') }}" method="post">
                                    {{ contacts_form.hidden_tag() }}
                                    {{ contacts_form.contacts() }}
                                    {{ contacts_form.submit(value="Сохранить") }}
                                </form>
                                <div class="purse-form__notice">
                                    Введите свои контактные данные (тел., эл. почта, Телеграм),
                                    чтобы младшие партнеры могли с Вами связаться.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
            
 