<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}"> 
        <script src="/static/land/libs/jquery.min.js"></script>
        <script src="/static/land/libs/bootstrap.min.js"></script>
        <script src="/static/land/scripts/main.min.js"></script>
    {% block content %}
    {% endblock %}
