{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content content--password">
            <div class="tab-content">
                {% for message in get_flashed_messages() %}
                {{ message }} <br>
                {% endfor %}
                <div class="key">
                    <div class="key-content">
                        <div class="verify-content content-box">
                            {% if user == None %}
                            <form method="post" action="{{ url_for('reset_password') }}">
                                <p>Введите e-mail, куда прийдет ссылка по смене пароля</p>
                                {{ send_reset_form.hidden_tag() }}
                                {{ send_reset_form.email() }}
                                {{ send_reset_form.submit(value="Отправить") }}
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <form method="post" action="{{ url_for('reset_password', code=code) }}">
                    {{ submit_reset_form.hidden_tag() }}
                    <p>Новый пароль {{ submit_reset_form.password() }}</p>
                    <p>Повторите новый пароль {{ submit_reset_form.confirm() }}</p>
                    <p>Подтвердить смену пароля {{ submit_reset_form.submit() }}</p>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}