<!DOCTYPE html>
{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Sign Up {% endblock %}
{% block styles %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}"> {% endblock %}
{% block content %}
    <div class="container">


        <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Проект Древо: Регистрация</title>
            <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">
            <link rel="stylesheet" href="/static/land/libs/bootstrap.min.css">
        </head>
        <body>
        <div class="wrapper">
            <div class="wrapper-register wrapper-register--signup">
                <div class="logo">
                    <a href="/" class="logo">
                        <img src="/static/land/images/logo.svg" alt="">
                        <span>Проект Древо</span>
                    </a>
                </div>
                <form class="form-signin" method="POST" action="/signup">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.confirm) }}
                    {{ wtf.form_field(form.parent) }}
                    <a href="#" data-toggle="modal" data-target="#agreement">Пользовательское соглашение</a>
                    <div class="registr">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                        <div class="regist-note">
                            «Нажимая кнопку «Зарегистрироваться», вы&nbsp;принимаете условия Пользовательского&nbsp;соглашения»
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="modal fade" id="agreement" tabindex="1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-not_confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Пользовательское соглашение</h3>
                    </div>
                    <div class="modal-body">
 <p> <b>                       Ответственность сторон.</p></b>
 <p>Создатели сайта не несут юридическую, но несут личную моральную(как создатели) и финансовую ответственность(как заинтересованные рядовые участники) за работу сайта в полном соответствии с заявленными принципами и соответствующей математической схемой, как указанно в партнерской программе.</p>
 <p>Наши пользователи не нуждаются в юридической защите, так как мы не принимаем и не храним чужие средства, все переводы происходят на прямую между участниками. Мы используем протокол «Доказательство концепции» и как и все другие участники заинтересованны в корректной работе проекта.</p>
 <p>Как создатели мы обязуемся сделать все от нас зависящее, для работы сайта, его кода и соответствующих программных компонентов, необходимых для функционирования проекта.</p>
 <p>Принимая данное соглашение, пользователь соглашается с вышеуказанными принципами работы и заявленными условиям.</p>
 <p>                               <b>       Политика приватности данных.</p></b>
<p> Принимая условия данного соглашения пользователь соглашается на обработку тех персональных данных, которые сам решит указать в своём профиле. В случае, если нас законодательно обяжут выдать эти данные, мы будем вынуждены это сделать.</p>
 <p>Так или иначе, пользователь сам решает какие данные он предоставляет, а сайт не имеет возможности проверить их достоверность и не нуждается в этом для своей работы. </p>
 <p>         <b>         Сторонние сервисы.  </p>    </b>                     
 <p>В нашем проекте пользователи не могут обмениваться сообщениями внутри самого сайта, только используя сторонние приложения. 
Ответственность за приватность данных в сторонних приложениях мы не несем. </p>
 <p>Так же, мы не несем ответственности за неправильное использование сторонних криптовалютных кошельков или сервисов. Пользователь выбирает сторонние сервисы на свой страх и риск.</p>
  <p>                                <b>   Обработка транзакций между пользователями.</p></b>
 <p>Всю стоимость транзакций рассчитывает код нашего сайта по следующим принципам:

 Стоимость ключа приблизительно приравнена к долларам США оплата пользователей между собой производится в Эфире.</p>
 <p>Каждый час код сайта скачивает текущий курс эфириума к доллару США по данным сайта https://coinmarket.cap . Количество эфиров высчитывается по курсу, далее код сайта упрощает число до трех знаков после запятой в сторону увеличения. Таким образом Старший Партнер всегда получает больший на незначительную сумму платеж.  Так же на сумме могут сказаться колебания курса, который обновляется только один раз в течении часа. </p>
 <p>Таким образом, суммы платежа оказываются лишь примерно равны цифрам указанным в партнерской программе, однако отклонения незначительны и могут составлять до 1-2%.</p>
 <p>Так или иначе, все издержки из-за разницы в сумме остаются между двумя участниками. 
  <p>                                                                         <b>    Время и порядок обработки транзакций.</p></b>
 <p>Код сайта принимает и обрабатывает транзакции раз в 5 минут. Данные в блокчейне подтверждаются майнерами в зависимости от загруженности сети Эфереум, обычно раз в минуту приходят подтверждения, но изредка бывают задержки до нескольких дней. </p>
 <p>В результате этого старший партнер может получить свой платеж за ключ через такое время, за которое курс может значительно изменится. В таком случае, в отправленном сайтом письме  указано время, когда произошел платеж, и по какому курсу рассчитывал сайт на момент платежа. </p>
 <p>Так или иначе сайт и создатели проекта не удерживают никаких сумм у себя, и не имеют никакой прибыли от издержек, связанных с курсовой разницей и работой сети Эфирирум.</p>

<b>  <p>В нашем проекте нет правил, которые вы можете нарушить и можете быть исключены или отстранены от участия в проекте.</p></b>
 <p>В нашем проекте могут принимать участие абсолютно все люди, согласные с принципами функционирования проекта и принимающие условия настоящего соглашения. </p>
 <p>Поставив галочку, вы соглашаетесь с условиями данного пользовательского соглашения. </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/land/libs/jquery.min.js"></script>
        <script src="/static/land/libs/bootstrap.min.js"></script>
        <script src="/static/land/scripts/main.min.js"></script>
        </body>
        </html>


    </div>
    <!-- /container -->
{% endblock %}