<!DOCTYPE html>
{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Sign Up {% endblock %}
{% block styles %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}"> {% endblock %}
{% block content %}
    <div class="container">


        <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Проект Древо: Регистрация</title>
            <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">
            <link rel="stylesheet" href="/static/land/libs/bootstrap.min.css">
        </head>
        <body>
        <div class="wrapper">
            <div class="wrapper-register">
                <div class="logo">
                    <a href="/" class="logo">
                        <img src="/static/land/images/logo.svg" alt="">
                        <span>Проект Древо</span>
                    </a>
                </div>
                <form class="form-signin" method="POST" action="/signup">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.confirm) }}
                    {{ wtf.form_field(form.parent) }}
                    {{ wtf.form_field(form.accept_tos) }}
                    {{ form.accept_tos.errors[0] if form.accept_tos.errors else '' }}
                    <!--<div class="accept_tos">   Я принимаю условия <a href="#" data-toggle="modal" data-target="#agreement">пользовательского соглашения</a></div> -->
                    <div class="registr">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="modal fade" id="agreement" tabindex="1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-not_confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Пользовательское соглашение</h3>
                    </div>
                    <div class="modal-body">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi consequatur,
                            dicta
                            dolores ea enim explicabo fugit necessitatibus numquam obcaecati possimus quae quasi
                            repellat sequi
                            voluptate. Animi assumenda ipsum quod.
                        </div>
                        <div>Beatae deserunt, dolorem eveniet ipsam natus nemo pariatur! Blanditiis optio quo
                            recusandae,
                            tempora unde veritatis? Consectetur cumque illo rem totam? Blanditiis, culpa cupiditate est
                            et
                            expedita ipsam nobis quasi quos?
                        </div>
                        <div>Ea id maiores quam quos, voluptas voluptates. Consequuntur culpa dicta dignissimos dolorum
                            hic in
                            laudantium neque provident quae quaerat! Animi ipsam itaque molestias quam recusandae
                            repudiandae
                            sequi temporibus velit voluptas!
                        </div>
                        <div>Ad adipisci animi consequatur cum error est explicabo facere fuga, illo laudantium libero
                            minus
                            nulla, officiis optio perferendis possimus quidem quis reiciendis reprehenderit sapiente
                            sequi
                            similique temporibus vel vitae voluptates.
                        </div>
                        <div>Ad architecto aut commodi dolor dolore ducimus et ex id in incidunt, ipsa itaque laboriosam
                            minima
                            nisi officia perspiciatis porro praesentium quas repellat sunt suscipit tenetur unde veniam
                            vitae
                            voluptatibus!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/land/libs/jquery.min.js"></script>
        <script src="/static/land/libs/bootstrap.min.js"></script>
        <script src="/static/land/scripts/main.min.js"></script>
        </body>
        </html>


    </div>
    <!-- /container -->
{% endblock %}