{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="content">
            <div class="tabs col-xs-12">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="/lk2"> Профиль </a></li>
                    <li><a href="/buylvl">Покупка ключа</a></li>
                    <li><a href="/cources">Доступные курсы</a></li>
                    <li><a href="/partners">Партнеры</a></li>
                    <li><a href="/marketing">Маркетинг</a></li>

                    <li><a href="{{ url_for('logout') }}">
                        Выйти
                    </a>
                    </li>
                </ul>

            </div>
            <div class="tab-content">
                {% for message in get_flashed_messages() %}
                     <div class="verify-message">
                         {{ message }}
                     </div>
                {% endfor %}
                <div class="key">
                    <div class="key-content">
                        <div class="verify-content content-box">
                            <form method="post" action="{{ url_for('verify_email') }}">
                                <p> Введите свой e-mail в поле ниже и нажмите отправить. Письмо со ссылкой верефикации придет в
                                    течении 10 минут к вам на почту.</p>
                                {{ form.hidden_tag() }}
                                {{ form.code() }}
                                {{ form.resend(value="отправить") }}
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    {% endblock %}