body {
    margin: 0;
    padding: 0;
    font: 14px OpenSans, sans-serif;
}

/* MODAL */

.modal {
    text-align: center;
    padding: 0 !important;
}
.videoframe {
    padding-top: 7%;
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: center;
}

.modal .close {
    margin-top: -10px;
    margin-right: -5px;
    opacity: 0.3;
    font-size: 30px;

}


/* MODAL */

/* HEADER */

.header {
    padding: 30px 0;
    text-align: center;
}

.header-logo {
    display: inline-block;
    margin-bottom: 10px;
}
.header-logo svg {
    width: 75px;
    height: 75px;
}

.header-projectname {
    font: 24px/32px RobotoSlab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #336e7b;
}

/* HEADER end */

/* FORM GROUP */

.form-signin {
    font-family: OpenSans, sans-serif;
}

.form-group {
    padding: 10px 0 20px;
}

.user-info__wrapper {
    max-width: 84px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}

.user-info__icon {
    width: 84px;
    height: 84px;
    margin-bottom: 10px;
}
.user-info__icon img {
    width: 100%;
}
.form-group__column {
    margin-top: 10px;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group label {
    margin-bottom: 10px;
    font: 18px/24px RobotoBold, sans-serif;
    color: #336e7b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-group input.form-control {
    width: calc(100% - 40px);
    height: 39px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    color: #404040;
    background-color: #ededed;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#copy-button {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 3;
    display: block;
    width: 100%;
    height: 39px;
    border: none;
    background: transparent url(/static/boffice/images/icons/key-copy.png) 100% 50% no-repeat;
    background-size: 27px;
    outline: none;
}
#copy-button:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
#copy-button:active {
    opacity: 0.7;
    background-size: 25px;
    transition: .2s;
}

.form-group__column:nth-of-type(3) {
    margin-top: 22px;
}
.form-group__column:nth-child(2) input.form-control {
    width: 100%;
}
.btn-old_partner {
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 7px 30px 0 20px;
    margin: 0;
    border: none;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 18px/47px RobotoMedium, sans-serif;
    text-align: right;
    background: #336e7b url("/static/boffice/images/icons/dialog.png") 20px 98% no-repeat;
    background-size: 70px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.btn-old_partner:hover {
    background-color: #2c6571;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-old_partner:focus,
.btn-old_partner:active {
    color: #ffffff;
    text-decoration: none;
}

/* FORM GROUP end */

/* TABS */

.content {
    min-height: 668px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
}

.tabs {
    padding: 0;
}
.tab-content>.tab-pane {
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    margin-top: -1px;
    padding: 16px 15px;
    font: 18px/24px RobotoBold, sans-serif;
    background-color: #f7f7f7;
    color: #4a4a4a;
    border-bottom: 2px solid #f7f7f7;
}

.nav > li:last-of-type > a,
.nav > li:first-of-type > a {
    background-color: #ffffff;
    color: #9b9b9b;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(147, 147, 147, 0.1);
}
.nav > li:last-of-type > a:hover,
.nav > li:first-of-type > a:hover {
    background-color: #eee;
    border-color:  #eee;
}

.nav-pills > li.active {
    pointer-events: none;
    color: #ffffff;
}
.nav-pills > li.active > a {
    color: #ffffff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #336e7b;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.nav-pills > li img {
    margin: -2px 0 0 4px;
}
/* TABS end */

/* TABS CONTENT */

.tab-content {
    position: relative;
    min-height: 610px;
    padding: 40px;
    overflow: hidden;
}

.title {
    margin: 0 0 30px;
    font: 24px/32px RobotoBold;
    text-align: center;
    color: #336e7b;
}

/* video */

.video-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
    margin-top: -25px;
    padding-bottom: 10px;
    background: url(/static/boffice/images/bg/video-bg.png) 100% bottom no-repeat;
    background-size: 30%;
}
.video-item {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 29px 5% 0;
    -webkit-box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
    box-shadow: 0 2px 12px 0 rgba(147, 147, 147, 0.5);
}
.video-item:hover {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.video-item:hover .video-item__preview {
    background-color: #f5db69;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.video-item:hover .video-item__name {
    color: #2c6571;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.video-item:hover,
.video-item:active,
.video-item:focus {
    text-decoration: none;
}
.video-item__preview {
    display: block;
    min-height: 85px;
    background: #ffe26d url("/static/boffice/images/icons/cadr.png") right 115% no-repeat;
    background-size: 100px;
}
.video-item__name {
    display: block;
    font-size: 16px;
    background: #f7f7f7;
    color: #336e7b;
    text-align: center;
}

.video-block {
    position: relative;
    max-width: 770px;
    min-height: 380px;
    margin: 0 auto;
    overflow: hidden;
}
.link-back {
    position: absolute;
    top: 34px;
    left: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #4a4a4a;
}
.link-back:hover {
    text-decoration: none;
    opacity: 0.7;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.video-clip {
    position: relative;
}
video {
    display: block;
    width: 100%;
    margin: 0 auto;

}
.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #ffe26d;
}

.video-btn .btn--play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    padding: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #336e7b;
    border-bottom: 30px solid transparent;
    outline: none;
    opacity: 0.8;
    background: none;
}
.video-btn .btn--play:hover {
    opacity: 0.6;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn--play .fa {
    margin-left: 10px;
    font-size: 70px;
}

.video-btn.pause {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.video-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    font: 24px/35px RobotoSlabRegular, sans-serif;
    background: #f7f7f7;
    color: #000000;
}
.video-title .number {
    display: inline-block;
    max-width: 80px;
    margin-right: 10px;
    font-size: 72px;
    line-height: 40px;
}
.btn-download {
    display: block;
    width: 100%;
    max-width: 220px;
    min-height: 50px;
    margin: 25px auto 0;
    padding: 0 30px 0 20px;
    border: none;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 30px RobotoRegular, sans-serif;
    text-align: right;
    background: #336e7b url(/static/boffice/images/icons/download.png) 20px 98% no-repeat;
    background-size: 65px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.btn-download:hover {
    background-color: #2c6571;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-download:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear,
    -webkit-transform 0.2s linear;
}

/* video end */

/* marketing */

.marketing-title {
    text-align: center;
}
.marketing {
    padding-right: 10px;
    background: url(/static/boffice/images/bg/marketing-bg.jpg) 100% bottom no-repeat;
    background-size: 25%;
}
.marketing-text p {
    font-size: 16px;
    line-height: 25px;
    color: #404040;
}
.marketing-column {
    margin-top: 20px;
    text-align: center;
}
.marketing-column h2 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}
.marketing-column:nth-of-type(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

/* marketing end */

/* partners */

.user-info__lavel {
    font: 13px/18px OpenSans, sans-serif;
    color: #858585;
}
.partners-content {
    margin: 0 -40px;
    padding: 0 13.9%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    background: url(/static/boffice/images/bg/partners-bg.png) 94% bottom no-repeat;
    background-size: 30%;
}
.partners-content-wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.partners-content .user-info {
    width: 100%;
    display: inline-block;
    max-width: 150px;
    margin: 0 10px 30px;
}
.partners-content .user-info:hover {
    opacity: 0.6;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.user-info__wrapper.wrapper--partners {
    max-width: 150px;
    margin: 0 auto;
    padding: 13px 0;
    border: 4px solid #336e7b;
    border-radius: 15px;
    text-align: center;
}
.wrapper--partners .user-info__icon {
    width: 55px;
    height: 68px;
    margin: 0 auto 5px;
}
.wrapper--partners .user-info__icon img {
    width: 55px;
    height: 68px;
}
.wrapper--partners .user-info__name {
    font-size: 15px;
}
.wrapper--partners .user-info__lavel {
    font-size: 14px;
}

.old_partner {
    min-height: 510px;
    background: url("/static/boffice/images/bg/old-partner-bg.png") right bottom no-repeat;
    background-size: 20%;

}

/* partners end */

/* profile */


.profile {
    min-height: 505px;
    background: url("/static/boffice/images/bg/old-partner-bg.png") 103% bottom no-repeat;
    background-size: 20%;
}
.profile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.level,
.cost {
    color: #000000;
    font: 24px RobotoSlabRegular, sans-serif;
}
.level h3 {
    margin: 0;
}
.level span {
    font-size: 72px;
    line-height: 80px;
}
.cost span {
    font-size: 56px;
    line-height: 45px;
}

.mail-confirm {
    display: inline-block;
    width: 270px;
    height: 45px;
    margin: 10px 20px 0 0;
    padding: 0 13px 0 10px;
    border: none;
    border-radius: 10px;
    font: 18px/46px RobotoMedium, sans-serif;
    font-weight: lighter;
    text-align: right;
    color: #336e7b;
    outline: none;
}
.mail-confirm.not_confirm {
    height: 41px;
    background: #ffe573 url("/static/boffice/images/icons/not_confirm.png") 10px 100% no-repeat;
    background-size: 58px;
}
.mail-confirm.not_confirm:hover {
    background-color: #f5db69;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    text-decoration: none;
}
.mail-confirm:active,
.mail-confirm:focus {
    text-decoration: none;
    color: #336e7b;
}
.mail-confirm.confirm {
    border: 3px solid #336e7b;
    background: #fff url("/static/boffice/images/icons/confirm.png") 10px 100% no-repeat;
    background-size: 58px;
    line-height: 43px;
}
.mail-confirm.confirm:hover {
    background-color: #f3f1f1;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    text-decoration: none;
}

.profile-content {
    max-width: 90%;
    margin: 0 auto;
}

.content-box {
    position: relative;
    min-height: 206px;
    padding: 20px 30px 20px 25px;
    margin-top: 25px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #336e7b;
}
.content-box::before {
    content: '';
    position: absolute;
    top: -13px;
    left: 25px;
    z-index: 2;
    display: block;
    padding: 0 3px;
    color: #336e7b;
    background: #ffffff;
    font: 14px RobotoSlabRegular,sans-serif;
}
.content-box input[type="text"],
.content-box input[name=contacts] {
    width: 100%;
    max-width: 673px;
    padding: 10px 15px;
    font: 18px RobotoRegular, sans-serif;
    color: #3f3f3f;
    background-color: #ededed;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.content-box input[type="text"]::-webkit-input-placeholder,
.content-box input[name=contacts]::-webkit-input-placeholder {
    color: #3f3f3f;
}
.content-box input[type="text"]:focus::-webkit-input-placeholder,
.content-box input[name=contacts]:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
}
.content-box input[type="text"]::-moz-placeholder,
.content-box input[name=contacts]::-moz-placeholder {
    color: #3f3f3f;
}
.content-box input[type="text"]:focus::-moz-placeholder,
.content-box input[name=contacts]:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.purse::before {
    content: 'Кошелек';
}
.purse-header {
    margin-bottom: 23px;
    font-size: 22px;
    color: #000000;
}
.requisites {
    font-size: 20px;
    color: #000000;
}
.requisites span {
    font-family: RobotoBold, sans-serif;
}
.content-box form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 45px;
}

.content-box input[type="submit"] {
    position: relative;
    top: 2px;
    width: 180px;
    height: 48px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    font: 22px RobotoMedium, sans-serif;

    background: #ffe573;
    color: #000;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-box input[type="submit"]:hover {
    background-color: #f5db69;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.content-box__notice {
    font: 16px/20px RobotoRegular,sans-serif;
}


.profile-contacts::before {
    content: 'Контакты';
}

.profile-contacts__info > div {
    float: left;
}
.contacts-requisites {
    width: 600px!important;
    max-width: 80%;

}
.profile-contacts__info {
    overflow: hidden;
}
.contacts-info__title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #000000;
}
.profile-contacts .requisites {
    margin: 7px 0;
}
.purse-number {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-top: 25px;
    color: #000000;
    font: 20px RobotoBold, sans-serif;
}
.btn-change,
.purse-change {
    float: right;
    position: relative;
    top: 15px;
    width: 180px;
    height: 48px;
    margin: 15px 5px 0 0;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    background: #36707e;
    color: #fff;
    outline: none;
}
.purse-change {
    margin-top: 0;
    background: #ffe573;
    color: #000;
}
.btn-change:hover {
    background: #2c6571;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.purse-change:hover {
    background: #f5db69;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.purse-form .purse-form__notice {
    position: absolute;
    bottom: 20px;
    left: 25px;
}
.profile-contacts form,
.purse-form form {
    display: none;
    margin-top: 15px;
}
.profile-contacts input[type="submit"] {
    float: right;
    position: relative;
    top: -1px;
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    background: #36707e;
    color: #fff;
}
.purse-form form input[type="submit"] {
    float: right;
}
.content-box input[type="text"].efir-number {
    padding: 0;
    display: inline-block;
    width: 35px;
    background: none;
    color: #000000;
}
.content-box input[type="text"].purse-num {
    float: left;
    width: 50%;
    margin-top: 0;
    padding: 0;
    border: none;
    background: none;
}
.key-payment .purse-num + button {
    float: right;
    margin-top: -30px;
}
.input-buffer {
    position: absolute;
    top: -9000px;
    left: -9000px;
}

.profile-contacts input[type="submit"]:hover {
    background-color: #2c6571;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
.modal-not_confirm .modal-header {
    text-align: center;
}
.modal-not_confirm .modal-body {
    text-align: justify;
    padding: 20px;
    font-size: 15px;
    line-height: 23px;
}

/* profile end */

/* verify */

.verify-content::before {
    content: 'Подтверждение email';
}
.verify-content form input[type="submit"] {
    margin-top: 20px;
}
.verify-content form input[type="text"] {
    max-width: 525px;
}


.verify-message {
    max-width: 795px;
    margin: 0 auto 20px;
    padding: 10px 10px 10px 17px;
    box-sizing: border-box;
    font-weight: 700;
    color: #4c97ff;
    background: rgba(42, 255, 0, .2);
}

/* verify end*/

.content--password {
    min-height: auto;
}

.content--password .verify-content::before {
    content: 'Восстановление пароля';
}


/* keys */

.key {
    min-height: 505px;
    background: url("/static/boffice/images/bg/key-bg.png") 100% bottom no-repeat;
    background-size: 30%;
}
.content--password .key {
    min-height: 400px;
    background: none;
}

.key-content {
    max-width: 73%;
    margin: 0 auto;
}


.key-payment::before {
    content: 'Оплата';
}
.key-check::before {
    content: 'Проверка';
}
.key-payment__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 5px;
}
.key-content .requisites {
    margin: 10px 0 0;
}
.key-btn {
    float: right;
    width: 84px;
    height: 84px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("/static/boffice/images/icons/key-copy.png") center no-repeat;
    background-size: cover;
}
.key-btn:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.key-btn:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.key-check form {
    padding-top: 40px;
    margin-bottom: 30px;
}
.key-check input[type="text"] {
    max-width: 525px;
}

.requisites {
    font-family: RobotoRegular, sans-serif;
}
.requisites span.purse-title {
    display: inline-block;
    font-family: RobotoRegular, sans-serif;
}
input[type="text"].purse-number {
    display: inline-block;
    width: 68%;
    max-width: inherit;
    padding: 0;
    background: none;
    border: none;
    color: #000000;
    font: 20px RobotoBold, sans-serif;
}

/* keys end */


/* old partner */
.partner-username {
    color: #000000;
    font: 45px RobotoBold, sans-serif;
}
.partner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 90%;
    margin: 0 auto 25px;
}

.partner .requisites {
    margin: 5px 0;
}



/* old partner end */


/* TABS CONTENT end */

/* FOOTER */

.footer {
    padding: 50px 0;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
}

.footer-info,
.footer-social {
    padding: 0;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #404040;
}
.footer-social a:hover {
    text-decoration: none;
    opacity: 0.7;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* FOOTER end */