@media only screen and (min-width: 320px) and (max-width: 767px) {
    .user-info__wrapper {
        margin: 0 auto 30px;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .nav > li:nth-child(n+5) > a {
        border: 1px solid rgba(147, 147, 147, 0.1);
    }
    .tabs {
        padding: 0 15px;
    }
    .tab-content {
        padding: 40px 1px;
    }

    .video-block {
        margin: 0 15px;
        min-height: inherit;
    }

    .video-btn {
        height: 98%;
    }

    .profile-column {
        max-width: 200px;
        margin: 0 auto 30px;
    }

    .profile-column:last-child {
        max-width: 100%;
    }

    .profile-btn.btn--default {
        float: none;
        width: 270px;
        margin: 20px auto 0;
        border-radius: 0;
    }
    .form-group__column:nth-child(2) input.form-control {
        width: calc(100% + 30px);
        font-size: 9px;
        margin: 0 -15px;
        padding: 0 0 0 10px;
    }
    #copy-button {
        right: -10px;
    }
    .partners-content-wrapper {
        justify-content: center;
    }
    .partners-content {
        text-align: center;
    }
    .partners-content .user-info {
        max-width: 125px;
    }
    .content-box {
        margin-top: 30px;
        padding: 20px 20px 20px 20px;
    }
    .content-box form {
        margin-bottom: 20px;
        overflow: hidden;
    }
    .purse-form {
        width: 100%;

    }
    .purse-change {
        float: left;
    }
    .btn-change, .purse-change {
        float: left;
        top: 0;
        margin: 20px 0;
    }
    .purse-form__notice {
        float: left;
    }
    .contacts-requisites {
        width: 100%!important;
        max-width: 100%;
    }
    .purse-form .purse-form__notice {
        position: static;
    }
    .key-content {
        max-width: 90%;
    }
    .level, .cost {
        font-size: 20px;
    }
    .key-payment .purse-num + button {
        margin-top: 0;
    }
    .content-box input[type="submit"] {
        width: 100%;
        margin: 15px 0 0;
    }
    .key-check input[type="text"] {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }
    .key-check form {
        padding-top: 15px;
    }

    #marketing {
        padding: 0 15px;
    }
    .panel-group {
        margin-bottom: 30px;
    }
    .footer {
        padding: 5vh 15px;
    }

    .footer-social {
        margin-top: 20px;
        text-align: left;
    }

    .footer-social a {
        display: inline-block;
        width: 30%;
        margin-left: 0;

    }

}

@media only screen and (min-width: 768px) and (max-width: 1169px) {
    .tabs {
        padding: 0;
    }

    .nav > li > a {
        position: relative;
        display: block;
        margin-top: -3px;
        padding: 12px 3px;
        font: 14px/20px RobotoMedium, sans-serif;
    }

    .profile-btn.btn--default {
        float: left;
        width: 270px;
        margin: 40px 0 0 0;
    }
    .video-block {
        min-height: inherit;
    }
    .purse-number {
        width: 50%;
    }
    .contacts-requisites {
        width: 100%!important;
    }
    .content-box input[type="submit"] {
        margin-top: 20px;
    }
    .key-content {
        max-width: 90%;
    }

}